---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/cloud_ips/cip-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"37f0d0d3eef7d2f2dea9995e81c999a2\""
    body:
      encoding: UTF-8
      string: "{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"107.47.17.138\",\"reverse_dns\":\"cip-12345-47-17-138.gb1.brightbox.com\",\"port_translators\":[],\"name\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"VCR
        account\",\"status\":\"active\"},\"interface\":null,\"server\":null,\"load_balancer\":null,\"server_group\":null,\"database_server\":null}"
  recorded_at: Tue, 21 Jan 2014 15:55:03 GMT
[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/cloud_ips/cip-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"37f0d0d3eef7d2f2dea9995e81c999a2\""
    body:
      encoding: UTF-8
      string: "{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"107.47.17.138\",\"reverse_dns\":\"cip-12345-47-17-138.gb1.brightbox.com\",\"port_translators\":[],\"name\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"VCR
        account\",\"status\":\"active\"},\"interface\":null,\"server\":null,\"load_balancer\":null,\"server_group\":null,\"database_server\":null}"
  recorded_at: Tue, 21 Jan 2014 15:55:06 GMT
recorded_with: VCR 2.5.0
