---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: "{\"grant_type\":\"none\",\"client_id\":\"app-12345\"}"
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated
        client is not authorized to use the access grant type provided.\"}"
  recorded_at: Thu, 20 Feb 2014 12:13:47 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/database_servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: "{\"name\":null,\"description\":null,\"maintenance_weekday\":\"5\",\"maintenance_hour\":\"11\"}"
    headers:
      Authorization:
      - 'OAuth '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"invalid_token\",\"error_description\":\"The OAuth token
        can not be found\"}"
  recorded_at: Thu, 20 Feb 2014 12:13:47 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/database_servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: "{\"name\":null,\"description\":null,\"maintenance_weekday\":\"5\",\"maintenance_hour\":\"11\"}"
    headers:
      Authorization:
      - 'OAuth '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"invalid_token\",\"error_description\":\"The OAuth token
        can not be found\"}"
  recorded_at: Thu, 20 Feb 2014 12:13:47 GMT
recorded_with: VCR 2.5.0
