---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6a789081a53a2eea39c99aee90735da7"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Avkruvviumpksysor","status":"active","address_1":"Israel
        Flats","address_2":"","city":"Clarkmouth","county":"","postcode":"97088-3817","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+445722683970","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-27T15:47:00Z","ram_limit":32768,"ram_used":18432,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-27T15:54:24Z","started_at":"2013-08-27T15:54:27Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-27T15:54:26Z","started_at":"2013-08-27T15:54:29Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"deleted","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"image":"img-12345","name":"medium servers","server_type":"typ-12345"}'
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message:
    headers:
      Location:
      - http://api.brightbox.dev/1.0/servers/srv-m8jo6
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"creating","hostname":"srv-12345","created_at":"2013-08-27T16:12:55Z","started_at":null,"deleted_at":null,"user_data":null,"fqdn":"srv-12345.gb1.brightbox.com","compatibility_mode":false,"console_url":null,"console_token":null,"console_token_expires":null,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Avkruvviumpksysor","status":"active"},"image":{"id":"img-12345","resource_type":"image","url":"https://api.gb1.brightbox.com/1.0/images/img-12345","name":"dmcuhmirtoevr8bvye46opwd","username":null,"status":"available","description":"","source":"46i5i7onyfz8yf5o5nepaohs","arch":"x86_64","created_at":"2013-08-27T15:46:50Z","official":true,"public":true,"owner":"acc-12345"},"server_type":{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"xvifyx3u5s","status":"available","cores":2,"ram":3072,"disk_size":10240,"handle":"nano"},"zone":{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"},"cloud_ips":[],"interfaces":[{"id":"int-uehbk","resource_type":"interface","url":"https://api.gb1.brightbox.com/1.0/interfaces/int-uehbk","mac_address":"02:24:19:01:3a:72","ipv4_address":"10.1.58.114","ipv6_address":"2a02:1348:18c:4e9c:24:19ff:fe01:3a72"}],"snapshots":[],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-08-27T15:47:00Z","default":true}]}'
  recorded_at: Tue, 27 Aug 2013 16:12:55 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/servers/srv-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7d94e73efce07d32ac4aa698d797b801"'
    body:
      encoding:[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/images/img-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a9f069f869a9f04d6409baccc7c3419c"'
    body:
      encoding: UTF-8
      string: '{"id":"img-12345","resource_type":"image","url":"https://api.gb1.brightbox.com/1.0/images/img-12345","name":"dmcuhmirtoevr8bvye46opwd","status":"available","username":null,"description":"","source":"46i5i7onyfz8yf5o5nepaohs","arch":"x86_64","created_at":"2013-08-27T15:46:50Z","official":true,"public":true,"compatibility_mode":false,"source_type":"upload","disk_size":0,"virtual_size":0,"min_ram":null,"owner":"acc-12345","licence_name":"","ancestor":null}'
  recorded_at: Tue, 27 Aug 2013 16:12:56 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"5458c9b3dc50704a6ae5d53f89045ed0"'
    body:
      encoding: UTF-8
      string: '{"access_token":"e0018983861803edad7687f88d46f0a6db2480da","expires_in":7200}'
  recorded_at: Tue, 27 Aug 2013 17:07:21 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"app-12345"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"The authenticated
        client is not authorized to use the access grant type provided."}'
  recorded_at: Tue, 27 Aug 2013 17:09:54 GMT
[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth e0018983861803edad7687f88d46f0a6db2480da
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"The OAuth token can not
        be found"}'
  recorded_at: Tue, 17 Sep 2013 17:07:46 GMT
[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth aa3b1374e05c2b7f0f100a206b7f41516efdc9e3
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7d4ad7857ea408897b8a2149197611ba"'
    body:
      encoding: UTF-8
      string: '[{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Asaibdsjnpdgrdcqo","status":"active","ram_limit":32768,"ram_used":0,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[],"load_balancers":[],"cloud_ips":[{"id":"cip-12345","resource_type":"cloud_ip","url":"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345","status":"unmapped","public_ip":"153.37.92.121","reverse_dns":"cip-12345-37-92-121.gb1.brightbox.com","name":null}],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-09-17T08:44:16Z","default":true}],"firewall_policies":[{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":true,"name":"default","created_at":"2013-09-17T08:44:16Z","description":"Applied
        to the default server group."}],"owner":{"id":"usr-12345","resource_type":"user","url":"https://api.gb1.brightbox.com/1.0/users/usr-12345","name":"Kobe
        Swaniawski Sr.","email_address":"jason.null@brightbox.com"},"users":[],"zones":[{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"}]}]'
  recorded_at: Tue, 17 Sep 2013 17:07:46 GMT
recorded_with: VCR 2.5.0
