---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"30a78497578a08c72cc2771bd36ec972"'
    body:
      encoding: UTF-8
      string: '{"access_token":"90d57ac966aae136312c5072c7cdcef5308c60c8","expires_in":7200,"refresh_token":"e4a93ce6a1b3dac03eb576b21add7b44466f0ea6"}'
  recorded_at: Tue, 03 Sep 2013 08:23:49 GMT
recorded_with: VCR 2.5.0
