---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"7467d6255847280963748b080c7bc69b"'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":7200}'
  recorded_at: Wed, 31 Jul 2013 14:31:18 GMT
- request:
    method: put
    uri: http://api.brightbox.dev/1.0/servers/srv-12345?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"server_groups":["grp-pz3yl"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"5f719cf8bfe758f14ec300bc0f0b8699"'
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"creating","hostname":"srv-12345","created_at":"2013-07-31T14:31:20Z","started_at":null,"deleted_at":null,"user_data":null,"fqdn":"srv-12345.gb1.brightbox.com","compatibility_mode":false,"console_url":null,"console_token":null,"console_token_expires":null,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Abylprmumdmlqnybh","status":"active"},"image":{"id":"img-12345","resource_type":"image","url":"https://api.gb1.brightbox.com/1.0/images/img-12345","name":"eav76r8audzyqyzsjwbz80qo","username":null,"status":"available","description":"","source":"5kmw2j0zjmb264w41a5oda46","arch":"x86_64","created_at":"2013-07-31T10:04:34Z","official":true,"public":true,"owner":"acc-12345"},"server_type":{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"ngiyzw","status":"available","cores":2,"ram":3072,"disk_size":10240,"handle":"nano"},"zone":{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},"cloud_ips":[],"interfaces":[{"id":"int-iz18m","resource_type":"interface","url":"https://api.gb1.brightbox.com/1.0/interfaces/int-iz18m","mac_address":"02:24:19:04:cb:22","ipv4_address":"10.4.203.34","ipv6_address":"2a02:1348:171:32c8:24:19ff:fe04:cb22"}],"snapshots":[],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"test","description":null,"created_at":"2013-07-31T14:31:20Z","default":false}]}'
  recorded_at: Wed, 31 Jul 2013 14:31:24 GMT
[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"268c12f6990f5c83c62caa51949ee9ea"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Adlxfrxwdxvgsuiae","status":"active","address_1":"Runolfsson
        Course","address_2":"","city":"Lubowitzton","county":"","postcode":"39940-6114","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+443049386317","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-23T11:35:50Z","ram_limit":32768,"ram_used":24576,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-23T15:10:05Z","started_at":"2013-08-23T15:10:26Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"image":"img-12345"}'
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/servers/srv-4ihw6
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"creating","hostname":"srv-12345","created_at":"2013-08-23T15:41:14Z","started_at":null,"deleted_at":null,"user_data":null,"fqdn":"srv-12345.gb1.brightbox.com","compatibility_mode":false,"console_url":null,"console_token":null,"c[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/server_groups?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"name":"test"}'
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/server_groups/grp-jmn63
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"test","description":null,"created_at":"2013-08-23T15:41:17Z","default":false,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Adlxfrxwdxvgsuiae","status":"active"},"firewall_policy":null,"servers":[]}'
  recorded_at: Fri, 23 Aug 2013 15:41:18 GMT
[...]
