---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/database_snapshots/dbi-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"fac2ed3edb567b9281616c1bdc334a1a\""
    body:
      encoding: UTF-8
      string: "{\"id\":\"dbi-12345\",\"resource_type\":\"database_snapshot\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_snapshots/dbi-12345\",\"name\":\"\",\"description\":\"\",\"status\":\"active\",\"database_version\":\"5.5\",\"size\":0,\"created_at\":\"2014-01-17T10:23:00Z\",\"updated_at\":\"2014-01-17T10:23:00Z\",\"deleted_at\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"VCR
        account\",\"status\":\"active\"}}"
  recorded_at: Fri, 17 Jan 2014 10:45:59 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated
        client is not authorized to use the access grant type provided.\"}"
  recorded_at: Tue, 18 Feb 2014 17:30:27 GMT
recorded_with: VCR 2.5.0
