---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"f810fa6e644b1d8ad404980562f9e6c6"'
    body:
      encoding: UTF-8
      string: '{"access_token":"5f3fd8fe25388fc9b801afc15a23d3991c68257d","expires_in":7200}'
  recorded_at: Tue, 27 Aug 2013 16:28:04 GMT
recorded_with: VCR 2.5.0
