---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"client_id":"cli-12345","grant_type":"none"}'
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"72639ae3a9d6ac5606e02c047e8379cb"'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":7200}'
  recorded_at: Tue, 16 Jul 2013 10:05:43 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/server_types?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"acef9458ad69d2343ffa73cbafefc415"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"ikcsh4wo","status":"available","cores":2,"ram":1024,"disk_size":10240,"handle":"nano"},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"xp8zs38","status":"available","cores":2,"ram":1024,"disk_size":4096,"handle":null},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"y7i4k","status":"available","cores":2,"ram":3072,"disk_size":2048,"handle":null},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"rrmzb4iayw","status":"available","cores":2,"ram":2048,"disk_size":4096,"handle":null},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"xl838t1","status":"available","cores":2,"ram":1024,"disk_size":4096,"handle":null}]'
  recorded_at: Tue, 16 Jul 2013 10:05:43 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/servers/srv-12345?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"ba89588950a9555742756310d9bb69cf"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"rspec_server_start","status":"creating","hostname":"srv-12345","created_at":"2013-07-16T10:05:44Z","started_at":null,"deleted_at":null,"user_data":null,"fqdn":"srv-12345.gb1.brightbox.com","compatibility_mode":false,"console_url":null,"console_token":null,"console_token_expires":null,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Axhgwngfswvffgjyq","status":"active"},"image":{"id":"img-12345","resource_type":"image","url":"https://api.gb1.brightbox.com/1.0/images/img-12345","name":"3wmd3dgwzcwxxrsogfi4l7hd","username":null,"status":"available","description":"","source":"s5tha1kzpzldvlaly1lnqfia","arch":"x86_64","created_at":"2013-07-15T09:56:29Z","official":true,"public":true,"owner":"acc-12345"},"server_type":{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"ikcsh4wo","status":"available","cores":2,"ram":1024,"disk_size":10240,"handle":"nano"},"zone":{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},"cloud_ips":[],"interfaces":[{"id":"int-jdfzq","resource_type":"interface","url":"https://api.gb1.brightbox.com/1.0/interfaces/int-jdfzq","mac_address":"02:24:19:04:01:72","ipv4_address":"10.4.1.114","ipv6_address":"2a02:1348:12c:5c:24:19ff:fe04:172"}],"snapshots":[],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-07-15T09:56:36Z","default":true}]}'
  recorded_at: Tue, 16 Jul 2013 10:05:48 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/servers/srv-12345/stop?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb[...]
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/servers/srv-12345/start?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.g[...]
[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"b82df36dcdec445aaf5133ed7a90c3da"'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Axhgwngfswvffgjyq","status":"active","address_1":"Welch
        Estates","address_2":"","city":"Wolfberg","county":"","postcode":"93735","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+447977112464","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-07-15T09:56:36Z","ram_limit":32768,"ram_used":18432,"cloud_ips_limit":20,"cloud_ips_used":2,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"rspec_server_stop","status":"creating","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-07-15T13:36:32Z","started_at":null,"deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"rspec_server_shutdown","status":"creating","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","c[...]
[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"befcff1e25ea7d3d2b1619bf497b1509"'
    body:
      encoding: UTF-8
  [...]
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"image":"img-12345","name":"rspec_server_start","server_type":"typ-12345"}'
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/servers/srv-faku7
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"rspec_server_start","status":"creating","hostname":"srv-12345","created_at":"2013-08-23T15:42:03Z","started_at":null,"deleted_at":null,"user_data":null,"fqdn":"srv-12345.gb1.brightbox.com","compatibility_mode":false,"console_url":null,"cons[...]
[...]
