local
pkg/

# Testing config fixtures
spec/configs/*/cache/*

# Old versions
spec/fixtures/config_files/cache/*
spec/brightbox/config
spec/brightbox/cache/

.bundle/
.rbenv-version
.rbx/
*.patch
*.html
*.gem
/vendor/

