---
recorded_with: VCR 2.5.0
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response:
    status:
      code: 200
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      Date:
      - Fri, 06 Sep 2013 15:58:58 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - 8c2cd78990e554ee6df5b57df9f3babf
      Content-Type:
      - application/json;charset=utf-8
      X-Runtime:
      - "0.237022"
      Content-Length:
      - "77"
      ETag:
      - "\"430906f14dbb1d6e1227c369fbbc9f05\""
      X-XSS-Protection:
      - 1; mode=block
      Connection:
      - keep-alive
      Cache-Control:
      - no-store
    body:
      string: "{\"access_token\":\"67e22969d707ebaf5590272b5e64dc4ed9b31fdd\",\"expires_in\":7200}"
    http_version:
  recorded_at: Fri, 06 Sep 2013 15:58:58 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body:
      string: ""
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - OAuth 0ab4badeb10018d07c1f6c33690ee011f36b4183
  response:
    status:
      code: 200
      message:
    headers:
      Date:
      - Fri, 06 Sep 2013 15:58:58 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - b4edcfd134f91075932a85564772e730
      Content-Type:
      - application/json; charset=utf-8
      X-Runtime:
      - "0.116152"
      ETag:
      - "\"a9e93d5f3268805675b0c5c935311a85\""
      Connection:
      - close
      Cache-Control:
      - max-age=0, private, must-revalidate
    body:
      string: "{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Aurnqfvgsbeyiprni\",\"status\":\"active\",\"address_1\":\"Kaycee Throughway\",\"address_2\":\"\",\"city\":\"South Hellenport\",\"county\":\"\",\"postcode\":\"60364-9886\",\"country_code\":\"GB\",\"country_name\":\"United Kingdom\",\"vat_registration_number\":\"\",\"telephone_number\":\"+444238318140\",\"telephone_verified\":false,\"verified_telephone\":null,\"verified_at\":null,\"verified_ip\":null,\"created_at\":\"2013-09-04T07:53:13Z\",\"ram_limit\":32768,\"ram_used\":0,\"cloud_ips_limit\":20,\"cloud_ips_used\":1,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"valid_credit_card\":false,\"library_ftp_host\":\"ftp.library.gb1.brightbox.com\",\"library_ftp_user\":\"acc-12345\",\"library_ftp_password\":null,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[],\"load_balancers\":[],\"cloud_ips\":[{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"56.67.59.219\",\"reverse_dns\":\"cip-12345-67-59-219.gb1.brightbox.com\",\"name\":null}],\"server_groups\":[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-09-04T07:53:13Z\",\"default\":true}],\"firewall_policies\":[{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":true,\"name\":\"default\",\"created_at\":\"2013-09-04T07:53:14Z\",\"description\":\"Applied to the default server group.\"}],\"owner\":{\"id\":\"usr-12345\",\"resource_type\":\"user\",\"url\":\"https://api.gb1.brightbox.com/1.0/users/usr-12345\",\"name\":\"Dylan Fay DDS\",\"email_address\":\"jason.null@brightbox.com\"},\"users\":[],\"zones\":[{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"},{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-b\"}]}"
    http_version:
  recorded_at: Fri, 06 Sep 2013 15:58:58 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      string: ""
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - OAuth 67e22969d707ebaf5590272b5e64dc4ed9b31fdd
  response:
    status:
      code: 401
      message:
    headers:
      Date:
      - Tue, 17 Sep 2013 17:07:36 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - 14082450ec1ec70923bc9c91e9adce53
      Content-Type:
      - application/json; charset=utf-8
      X-Runtime:
      - "0.017801"
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Connection:
      - close
      Cache-Control:
      - no-cache
    body:
      string: "{\"error\":\"invalid_token\",\"error_description\":\"The OAuth token can not be found\"}"
    http_version:
  recorded_at: Tue, 17 Sep 2013 17:07:36 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response:
    status:
      code: 200
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      Date:
      - Tue, 17 Sep 2013 17:07:36 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - b7a48ca0b5632951eaf7464ca0698b08
      Content-Type:
      - application/json;charset=utf-8
      X-Runtime:
      - "0.111296"
      Content-Length:
      - "77"
      ETag:
      - "\"c0dd0bb66771d924e5b9d845a8f5b6a4\""
      X-XSS-Protection:
      - 1; mode=block
      Connection:
      - keep-alive
      Cache-Control:
      - no-store
    body:
      string: "{\"access_token\":\"316f5c33ab293daeb01b759fa32fe758ef1cccc0\",\"expires_in\":7200}"
    http_version:
  recorded_at: Tue, 17 Sep 2013 17:07:36 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      string: ""
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - OAuth 316f5c33ab293daeb01b759fa32fe758ef1cccc0
  response:
    status:
      code: 200
      message:
    headers:
      Date:
      - Tue, 17 Sep 2013 17:07:37 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - 7f4fd962f1dc00a3b1bfdd6e4d81a36f
      Content-Type:
      - application/json; charset=utf-8
      X-Runtime:
      - "0.255430"
      ETag:
      - "\"7d4ad7857ea408897b8a2149197611ba\""
      Connection:
      - close
      Cache-Control:
      - max-age=0, private, must-revalidate
    body:
      string: "[{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Asaibdsjnpdgrdcqo\",\"status\":\"active\",\"ram_limit\":32768,\"ram_used\":0,\"cloud_ips_limit\":20,\"cloud_ips_used\":1,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[],\"load_balancers\":[],\"cloud_ips\":[{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"153.37.92.121\",\"reverse_dns\":\"cip-12345-37-92-121.gb1.brightbox.com\",\"name\":null}],\"server_groups\":[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-09-17T08:44:16Z\",\"default\":true}],\"firewall_policies\":[{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":true,\"name\":\"default\",\"created_at\":\"2013-09-17T08:44:16Z\",\"description\":\"Applied to the default server group.\"}],\"owner\":{\"id\":\"usr-12345\",\"resource_type\":\"user\",\"url\":\"https://api.gb1.brightbox.com/1.0/users/usr-12345\",\"name\":\"Kobe Swaniawski Sr.\",\"email_address\":\"jason.null@brightbox.com\"},\"users\":[],\"zones\":[{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"},{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-b\"}]}]"
    http_version:
  recorded_at: Tue, 17 Sep 2013 17:07:37 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response:
    status:
      code: 200
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      Date:
      - Fri, 27 Sep 2013 15:26:08 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - 80c5f7718095bc829861e5efe3c22e10
      Content-Type:
      - application/json;charset=utf-8
      X-Runtime:
      - "0.113466"
      Content-Length:
      - "77"
      ETag:
      - "\"bf41904d7ce116b70d2eb58dd2e2e209\""
      X-XSS-Protection:
      - 1; mode=block
      Connection:
      - keep-alive
      Cache-Control:
      - no-store
    body:
      string: "{\"access_token\":\"f6fd5a480ae3cef0e20bfaad9f7eb1ea64ee35fc\",\"expires_in\":7200}"
    http_version:
  recorded_at: Fri, 27 Sep 2013 15:26:08 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      User-Agent:
      - fog/1.15.0
      Content-Type:
      - application/json
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response:
    status:
      code: 200
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      Date:
      - Fri, 27 Sep 2013 15:26:08 GMT
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - 466539ee260d6d6410afaccca016594b
      Content-Type:
      - application/json;charset=utf-8
      X-Runtime:
      - "0.116505"
      Content-Length:
      - "77"
      ETag:
      - "\"2be0e2e1cff2d86cf1808efa13cb7a6d\""
      X-XSS-Protection:
      - 1; mode=block
      Connection:
      - keep-alive
      Cache-Control:
      - no-store
    body:
      string: "{\"access_token\":\"ca1342a7d900f917c9f55e1f3bb8cd2f52f09ec3\",\"expires_in\":7200}"
    http_version:
  recorded_at: Fri, 27 Sep 2013 15:26:08 GMT
