---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/database_servers/dbs-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"56e81bcca509cc3ab218fadd4185d691\""
    body:
      encoding: UTF-8
      string: "{\"id\":\"dbs-12345\",\"resource_type\":\"database_server\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_servers/dbs-12345\",\"name\":\"\",\"description\":\"\",\"admin_username\":\"admin\",\"admin_password\":null,\"allow_access\":[],\"database_version\":\"5.5\",\"status\":\"active\",\"created_at\":\"2014-01-16T15:23:32Z\",\"updated_at\":\"2014-01-16T15:24:58Z\",\"deleted_at\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"VCR
        account\",\"status\":\"active\"},\"database_server_type\":{\"id\":\"dbt-12345\",\"resource_type\":\"database_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_types/dbt-12345\",\"name\":\"hbdvmfqrrtyv\",\"description\":\"\",\"disk_size\":5120,\"ram\":4096},\"cloud_ips\":[],\"zone\":{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"}}"
  recorded_at: Thu, 16 Jan 2014 15:29:56 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/database_servers/dbs-12345/snapshot?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"dbs-12[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated
        client is not authorized to use the access grant type provided.\"}"
  recorded_at: Tue, 18 Feb 2014 17:30:26 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: "{\"grant_type\":\"client_credentials\"}"
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated
        client is not authorized to use the access grant type provided.\"}"
  recorded_at: Tue, 18 Feb 2014 17:30:26 GMT
recorded_with: VCR 2.5.0
