--- 
recorded_with: VCR 2.5.0
http_interactions: 
- request: 
    method: post
    uri: http://api.brightbox.dev/1.0/server_groups?account_id=acc-12345
    body: 
      string: "{\"name\":\"Test group\"}"
    headers: 
      Authorization: 
      - OAuth <TOKEN>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Location: 
      - http://api.brightbox.dev/1.0/server_groups/grp-p6y2v
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"Test group\",\"description\":null,\"created_at\":\"2013-07-16T10:06:01Z\",\"default\":false,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Axhgwngfswvffgjyq\",\"status\":\"active\"},\"firewall_policy\":null,\"servers\":[]}"
  recorded_at: Tue, 16 Jul 2013 10:06:01 GMT
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/server_groups?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth <TOKEN>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      ETag: 
      - "\"f47fe179316afd3df295dae13e108ca8\""
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-07-15T09:56:36Z\",\"default\":true,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Axhgwngfswvffgjyq\",\"status\":\"active\"},\"firewall_policy\":{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":true,\"name\":\"default\",\"created_at\":\"2013-07-15T09:56:36Z\",\"description\":\"Applied to the default server group.\"},\"servers\":[{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_stop\",\"status\":\"creating\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-07-15T13:36:32Z\",\"started_at\":null,\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_shutdown\",\"status\":\"creating\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-07-15T15:56:34Z\",\"started_at\":null,\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"wow\",\"status\":\"creating\",\"hostname\":\"[...]
- request: 
    method: delete
    uri: http://api.brightbox.dev/1.0/server_groups/grp-12345?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth <TOKEN>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"Test group\",\"description\":null,\"created_at\":\"2013-07-16T10:06:01Z\",\"default\":false,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Axhgwngfswvffgjyq\",\"status\":\"active\"},\"firewall_policy\":null,\"servers\":[]}"
  recorded_at: Tue, 16 Jul 2013 10:06:03 GMT
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"grant_type\":\"none\",\"client_id\":\"cli-12345\"}"
    headers: 
      Authorization: 
      - OAuth <TOKEN>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      ETag: 
      - "\"c954f714f6273d8e81f532d4a6a09ed9\""
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      string: "{\"access_token\":\"<TOKEN>\",\"expires_in\":7200}"
  recorded_at: Tue, 16 Jul 2013 10:14:15 GMT
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth <TOKEN>
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      ETag: 
      - "\"844f3f0634b088f2bf41bd33bcf5ca1f\""
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Axhgwngfswvffgjyq\",\"status\":\"active\",\"address_1\":\"Welch Estates\",\"address_2\":\"\",\"city\":\"Wolfberg\",\"county\":\"\",\"postcode\":\"93735\",\"country_code\":\"GB\",\"country_name\":\"United Kingdom\",\"vat_registration_number\":\"\",\"telephone_number\":\"+447977112464\",\"telephone_verified\":false,\"verified_telephone\":null,\"verified_at\":null,\"verified_ip\":null,\"created_at\":\"2013-07-15T09:56:36Z\",\"ram_limit\":32768,\"ram_used\":17408,\"cloud_ips_limit\":20,\"cloud_ips_used\":2,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"valid_credit_card\":false,\"library_ftp_host\":\"ftp.library.gb1.brightbox.com\",\"library_ftp_user\":\"acc-12345\",\"library_ftp_password\":null,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_stop\",\"status\":\"creating\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-07-15T13:36:32Z\",\"started_at\":null,\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_shutdown\",\"status\":\"cr[...]
