---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/database_servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: "{\"name\":null,\"description\":null,\"allow_access\":[\"srv-12345\",\"grp-12345\"]}"
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message:
    headers:
      Location:
      - http://api.brightbox.dev/1.0/database_servers/dbs-u6420
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"dbs-u6420\",\"resource_type\":\"database_server\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_servers/dbs-u6420\",\"name\":\"\",\"description\":\"\",\"admin_username\":\"admin\",\"admin_password\":\"vzu0r4kaciwu573u\",\"allow_access\":[\"srv-12345\",\"grp-12345\"],\"database_version\":\"5.5\",\"status\":\"creating\",\"created_at\":\"2014-01-15T12:49:40Z\",\"updated_at\":\"2014-01-15T12:49:40Z\",\"deleted_at\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"VCR
        account\",\"status\":\"active\"},\"database_server_type\":{\"id\":\"dbt-12345\",\"resource_type\":\"database_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_types/dbt-12345\",\"name\":\"nkbftmbgvqle\",\"description\":\"\",\"disk_size\":2048,\"ram\":1024},\"cloud_ips\":[],\"zone\":{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"}}"
  recorded_at: Wed, 15 Jan 2014 12:49:41 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: "{\"grant_type\":\"none\",\"client_id\":\"app-12345\"}"
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated
        client is not authorized to use the access grant type provided.\"}"
  recorded_at: Tue, 18 Feb 2014 17:30:26 GMT
recorded_with: VCR 2.5.0
