---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/database_servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: "{\"name\":null,\"description\":null,\"maintenance_weekday\":null,\"maintenance_hour\":null,\"engine\":\"mysql\",\"version\":\"5.6\"}"
    headers:
      Authorization:
      - OAuth f83da712e6299cda953513ec07f7a754f747d727
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message:
    headers:
      Location:
      - http://api.brightbox.dev/1.0/database_servers/dbs-kh13c
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"id\":\"dbs-kh13c\",\"resource_type\":\"database_server\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_servers/dbs-kh13c\",\"name\":\"\",\"description\":\"\",\"admin_username\":\"admin\",\"admin_password\":\"57th4lk8dfe8ukbn\",\"allow_access\":[],\"database_engine\":\"mysql\",\"database_version\":\"5.6\",\"status\":\"creating\",\"maintenance_weekday\":0,\"maintenance_hour\":6,\"created_at\":\"2014-02-19T17:08:22Z\",\"updated_at\":\"2014-02-19T17:08:22Z\",\"deleted_at\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"VCR
        account\",\"status\":\"active\"},\"database_server_type\":{\"id\":\"dbt-12345\",\"resource_type\":\"database_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/database_types/dbt-12345\",\"name\":\"nhwtnmetpimc\",\"description\":\"\",\"disk_size\":6144,\"ram\":2048},\"cloud_ips\":[],\"zone\":{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"}}"
  recorded_at: Wed, 19 Feb 2014 17:08:29 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: "{\"grant_type\":\"none\",\"client_id\":\"app-12345\"}"
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated
        client is not authorized to use the access grant type provided.\"}"
  recorded_at: Wed, 19 Feb 2014 17:28:10 GMT
recorded_with: VCR 2.5.0
