---
http_interactions:
- request:
    method: post
    uri: https://api.dev.brightbox.com/1.0/firewall_policies?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-6o7ug
      Status:
      - 201 Created
      ETag:
      - '"4e45a22318e24d44c6dd32f5ca6be57e"'
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-07-31T11:27:52Z","description":null,"server_group":null,"rules":[]}'
  recorded_at: Wed, 31 Jul 2013 11:27:53 GMT
- request:
    method: get
    uri: https://api.dev.brightbox.com/1.0/account?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      ETag:
      - '"d98945d22cb384b55117a07a5f1f51fe"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Paul''s
        Dev Account","status":"active","address_1":"Leeds Media Centre","address_2":"21
        Savile Mount","city":"Leeds","county":"","postcode":"LS7 3HZ","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+448456585545","telephone_verified":true,"verified_telephone":"+447968385533","verified_at":"2011-05-17T14:58:29Z","verified_ip":"10.132.138.182","created_at":"2010-09-09T15:10:07Z","ram_limit":32768,"ram_used":4096,"cloud_ips_limit":10,"cloud_ips_used":2,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":true,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-vodcf","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-vodcf","name":"label","description":"Paul''s
        API test client","revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"Honcho
        spec runner","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2012-05-10T12:04:15Z","started_at":"2013-07-23T14:54:24Z","deleted_at":null}],"load_balancers":[],"cloud_ips":[{"id":"cip-12345","resource_type":"cloud_ip","url":"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345","status":"unmapped","public_ip":"109.107.35.44","reverse_dns":"cip-12345-107-35-44.gb1.brightbox.com","name":null},{"id":"cip-12345","resource_type":"cloud_ip","url":"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345","status":"unmapped","public_ip":"109.107.37.226","reverse_dns":"cip-12345-107-37-226.gb1.brightbox.com","name":null}],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2011-08-24T08:41:58Z","default":true}],"firewall_policies":[{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":true,"name":"default","created_at":"2011-08-24T08:41:58Z","description":"Applied
        to the default server group."},{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":"fnord","created_at":"2013-07-30T13:15:11Z","description":null},{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-07-31T11:27:52Z","description":null}],"owner":{"id":"usr-12345","resource_type":"user","url":"https://api.gb1.brightbox.com/1.0/users/usr-12345","name":"Example
        User","email_address":"paul@brightbox.co.uk"},"users":[],"zones":[{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"}]}'
  recorded_at: Wed, 31 Jul 2013 11:27:53 GMT
- request:
    method: put
    uri: https://api.dev.brightbox.com/1.0/firewall_policies/fwp-12345?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"description":"New policy description"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      ETag:
      - '"600e6b8876e04b3b920a6dfac7a6cf5f"'
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-07-31T11:27:52Z","description":"New
        policy description","server_group":null,"rules":[]}'
  recorded_at: Wed, 31 Jul 2013 11:27:53 GMT
[...]
- request:
    method: post
    uri: http://api.dev.brightbox.com/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"662dc09c73721d7391aca443bba3cecd"'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":7200}'
  recorded_at: Wed, 31 Jul 2013 12:48:52 GMT
- request:
    method: get
    uri: http://api.dev.brightbox.com/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"b236b8cf68deef605c093e18efd9bf72"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345[...]
