--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/server_groups
    body: 
      string: "{\"name\":\"rspec_tests_apply\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/server_groups/grp-yo9a0
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"grp-yo9a0\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-yo9a0\",\"name\":\"rspec_tests_apply\",\"default\":false,\"description\":null,\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"servers\":[]}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies
    body: 
      string: "{\"name\":\"rspec_firewall_policy_apply\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-emzre
      Status: 
      - "201"
    body: 
      string: "{\"id\":\"fwp-emzre\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-emzre\",\"name\":\"rspec_firewall_policy_apply\",\"default\":false,\"description\":null,\"rules\":[],\"server_group\":null}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-emzre/apply_to
    body: 
      string: "{\"server_group\":\"grp-yo9a0\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"fwp-emzre\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-emzre\",\"name\":\"rspec_firewall_policy_apply\",\"default\":false,\"description\":null,\"rules\":[],\"server_group\":{\"id\":\"grp-yo9a0\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-yo9a0\",\"name\":\"rspec_tests_apply\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: DELETE
    uri: https://api.gb1s.brightbox.com/1.0/server_groups/grp-yo9a0
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"grp-yo9a0\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-yo9a0\",\"name\":\"rspec_tests_apply\",\"default\":false,\"description\":null,\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"servers\":[]}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
