--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/token
    body: 
      string: "{\"client_id\":\"cli-cfv8i\",\"grant_type\":\"none\"}"
    headers: 
      Authorization: 
      - Basic Y2xpLWNmdjhpOjMwcjE3cWJ3cWFsb2VtZw==
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json
      Status: 
      - "200"
    body: 
      string: "{\"expires_in\":7200,\"access_token\":\"9b1d6a22503562503acde9740b410b89e2444009\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT 
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/account
    headers: 
      Authorization: 
      - OAuth 9b1d6a22503562503acde9740b410b89e2444009
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: !!null 
        str: ""
        "@taguri": x-private:null
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
    body: 
      string: "{\"id\":\"acc-998rf\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/account\",\"name\":\"Brighbox Systems\",\"status\":\"active\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/server_groups?account_id=acc-998rf
    body: 
      string: "{\"name\":\"rspec_tests\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null,\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"servers\":[]}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies
    body: 
      string: "{\"name\":\"rspec_firewall_policy\",\"server_group\":\"grp-dqrv5\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170
      Status: 
      - "201"
    body: 
      string: "{\"id\":\"fwp-w0170\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170\",\"name\":\"rspec_firewall_policy\",\"default\":false,\"description\":null,\"rules\":[],\"server_group\":{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: DELETE
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"fwp-w0170\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170\",\"name\":\"rspec_firewall_policy\",\"default\":false,\"description\":null,\"rules\":[],\"server_group\":{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: DELETE
    uri: https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null,\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"servers\":[]}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
