--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/server_groups
    body: 
      string: "{\"name\":\"rspec_tests\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null,\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"servers\":[]}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies
    body: 
      string: "{\"name\":\"rspec_firewall_policy\",\"server_group\":\"grp-dqrv5\"}"
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 201
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170
      Status: 
      - "201"
    body: 
      string: "{\"id\":\"fwp-w0170\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170\",\"name\":\"rspec_firewall_policy\",\"default\":false,\"description\":null,\"rules\":[],\"server_group\":{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: DELETE
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"fwp-w0170\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-w0170\",\"name\":\"rspec_firewall_policy\",\"default\":false,\"description\":null,\"rules\":[],\"server_group\":{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: DELETE
    uri: https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"grp-dqrv5\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-dqrv5\",\"name\":\"rspec_tests\",\"default\":false,\"description\":null,\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"servers\":[]}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
