--- 
http_interactions: 
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-tkklm
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth e717de9faa2aaeacd8b55c38def2c53e72b42f06
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"da8d6ca3f2d1d16a04cf8add66a15112\""
    body: 
      string: "{\"id\":\"fwr-tkklm\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-tkklm\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"tcp\",\"icmp_type_name\":null,\"source_port\":null,\"description\":null,\"destination_port\":\"1080\",\"source\":null,\"firewall_policy\":{\"id\":\"fwp-30kea\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-30kea\",\"name\":\"the_wall\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: DELETE
    uri: https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-tkklm
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth e717de9faa2aaeacd8b55c38def2c53e72b42f06
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"fwr-tkklm\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-tkklm\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"tcp\",\"icmp_type_name\":null,\"source_port\":null,\"description\":null,\"destination_port\":\"1080\",\"source\":null,\"firewall_policy\":{\"id\":\"fwp-30kea\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-30kea\",\"name\":\"the_wall\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
