--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/firewall_rules
    body: 
      string: "{\"destination\":\"0.0.0.0/0\",\"destination_port\":\"1080\",\"protocol\":\"tcp\",\"firewall_policy\":\"fwp-30kea\"}"
    headers: 
      Authorization: 
      - OAuth e717de9faa2aaeacd8b55c38def2c53e72b42f06
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-49emn
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"fwr-49emn\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-49emn\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"tcp\",\"icmp_type_name\":null,\"source_port\":null,\"description\":null,\"destination_port\":\"1080\",\"source\":null,\"firewall_policy\":{\"id\":\"fwp-30kea\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-30kea\",\"name\":\"the_wall\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
