--- 
http_interactions: 
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-30kea
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth e717de9faa2aaeacd8b55c38def2c53e72b42f06
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"336f30b8a362f354980a4ab847223827\""
    body: 
      string: "{\"id\":\"fwp-30kea\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-30kea\",\"name\":\"the_wall\",\"default\":false,\"description\":null,\"rules\":[{\"id\":\"fwr-ohc9w\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-ohc9w\",\"destination\":null,\"protocol\":\"tcp\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":\"0.0.0.0/0\",\"destination_port\":\"22,80,443\"},{\"id\":\"fwr-78775\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-78775\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"tcp\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":null,\"destination_port\":\"1080\"},{\"id\":\"fwr-49emn\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-49emn\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"tcp\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":null,\"destination_port\":\"1080\"},{\"id\":\"fwr-tkklm\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-tkklm\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"tcp\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":null,\"destination_port\":\"1080\"}],\"server_group\":{\"id\":\"grp-qf4jo\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-qf4jo\",\"name\":\"hemant_group\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
