--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/token
    body: 
      string: "{\"client_id\":\"cli-cfv8i\",\"grant_type\":\"none\"}"
    headers: 
      Authorization: 
      - Basic Y2xpLWNmdjhpOjMwcjE3cWJ3cWFsb2VtZw==
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json
      Status: 
      - "200"
    body: 
      string: "{\"expires_in\":7200,\"access_token\":\"9b1d6a22503562503acde9740b410b89e2444009\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT 
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/account
    headers: 
      Authorization: 
      - OAuth 9b1d6a22503562503acde9740b410b89e2444009
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: !!null 
        str: ""
        "@taguri": x-private:null
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
    body: 
      string: "{\"id\":\"acc-998rf\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/account\",\"name\":\"Brighbox Systems\",\"status\":\"active\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/cloud_ips
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 9b1d6a22503562503acde9740b410b89e2444009
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"99340bd6fc2084a8fc85d34f409dcfe1\""
    body: 
      string: "[{\"id\":\"cip-6r5a4\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-6r5a4\",\"reverse_dns\":\"cip-109-107-39-29.gb1s.brightbox.com\",\"status\":\"mapped\",\"public_ip\":\"109.107.39.29\",\"account\":{\"id\":\"acc-998rf\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/account\",\"name\":\"Brighbox Systems\",\"status\":\"active\"},\"server\":{\"id\":\"srv-egjzh\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-egjzh\",\"name\":\"test1\",\"fqdn\":\"srv-egjzh.gb1s.\",\"created_at\":\"2011-11-02T08:07:45Z\",\"deleted_at\":null,\"hostname\":\"srv-egjzh\",\"started_at\":\"2011-12-16T15:47:45Z\",\"status\":\"active\"},\"interface\":{\"id\":\"int-rbob6\",\"resource_type\":\"interface\",\"url\":\"https://api.gb1.brightbox.com/1.0/interfaces/int-rbob6\",\"mac_address\":\"02:24:19:fa:bc:ee\",\"ipv4_address\":\"10.250.188.238\",\"ipv6_address\":\"2a02:1348:14a:af3b:24:19ff:fefa:bcee\"},\"load_balancer\":null}]"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
