--- 
http_interactions: 
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/server_types
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth c923ea36a25a60304c10a21ec4864ee9545e21b4
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"9a2f48d208ccd4251565c000c0e822a6\""
    body: 
      string: "[{\"id\":\"typ-eir7x\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_types/typ-eir7x\",\"name\":\"nano\",\"cores\":2,\"handle\":\"nano\",\"disk_size\":20480,\"ram\":512,\"status\":\"available\"},{\"id\":\"typ-nrsxl\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_types/typ-nrsxl\",\"name\":\"fatboy\",\"cores\":4,\"handle\":\"lard\",\"disk_size\":40960,\"ram\":2048,\"status\":\"available\"}]"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/servers
    body: 
      string: "{\"server_type\":\"typ-eir7x\",\"image\":\"img-ymfuq\",\"name\":\"rspec_server_stop\"}"
    headers: 
      Authorization: 
      - OAuth c923ea36a25a60304c10a21ec4864ee9545e21b4
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1s.brightbox.com/1.0/servers/srv-xexxa
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"srv-xexxa\",\"resource_type\":\"server\",\"url\":\"https://api.gb1s.brightbox.com/1.0/servers/srv-xexxa\",\"name\":\"rspec_server_stop\",\"created_at\":\"2011-10-17T10:28:59Z\",\"deleted_at\":null,\"console_token_expires\":null,\"console_url\":null,\"console_token\":null,\"started_at\":null,\"hostname\":\"srv-xexxa\",\"status\":\"creating\",\"user_data\":null,\"server_type\":{\"id\":\"typ-eir7x\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_types/typ-eir7x\",\"name\":\"nano\",\"cores\":2,\"handle\":\"nano\",\"disk_size\":20480,\"ram\":512,\"status\":\"available\"},\"zone\":{\"id\":\"zon-x20w1\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1s.brightbox.com/1.0/zones/zon-x20w1\",\"handle\":\"gb1s-a\"},\"cloud_ips\":[],\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"active\"},\"snapshots\":[],\"interfaces\":[{\"id\":\"int-xnkdk\",\"resource_type\":\"interface\",\"url\":\"https://api.gb1s.brightbox.com/1.0/interfaces/int-xnkdk\",\"mac_address\":\"02:24:19:fa:c0:72\",\"ipv4_address\":\"10.250.192.114\",\"ipv6_address\":\"2a02:1348:14a:b01c:24:19ff:fefa:c072\"}],\"server_groups\":[{\"id\":\"grp-b0uqb\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-b0uqb\",\"name\":\"default\",\"default\":true,\"description\":null}],\"image\":{\"id\":\"img-ymfuq\",\"resource_type\":\"image\",\"url\":\"https://api.gb1s.brightbox.com/1.0/images/img-ymfuq\",\"name\":\"Ubuntu Lucid 10.04 server\",\"created_at\":\"2011-06-01T15:43:38Z\",\"arch\":\"i686\",\"description\":\"login: ubuntu using stored ssh key\",\"status\":\"available\",\"source\":\"lucid.img\",\"owner\":\"acc-kg71m\"}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/1.0/servers/srv-xexxa/stop
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth c923ea36a25a60304c10a21ec4864ee9545e21b4
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "202"
    body: 
      string: "{\"id\":\"srv-xexxa\",\"resource_type\":\"server\",[...]
