--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/token
    body: 
      string: "{\"client_id\":\"cli-dmygq\",\"grant_type\":\"none\"}"
    headers: 
      Authorization: 
      - Basic Y2xpLWRteWdxOjVjZHk0dnA0eml6cmdwdQ==
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
    headers: 
      Content-Type: 
      - application/json
      Status: 
      - "200"
    body: 
      string: "{\"expires_in\":7200,\"access_token\":\"ae5d663283e87a7bd4be809607b5d4d9264af1b8\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/account
    headers: 
      Authorization: 
      - OAuth 9b1d6a22503562503acde9740b410b89e2444009
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: !!null 
        str: ""
        "@taguri": x-private:null
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
    body: 
      string: "{\"id\":\"acc-998rf\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/account\",\"name\":\"Brighbox Systems\",\"status\":\"active\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/servers
    body: 
    headers: 
      Authorization: 
      - OAuth ae5d663283e87a7bd4be809607b5d4d9264af1b8
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"169cb6f51cf4d3b8c629eb26580f22da\""
    body: 
      string: "[{\"id\":\"srv-7yilp\",\"resource_type\":\"server\",\"url\":\"https://api.gb1s.brightbox.com/1.0/servers/srv-7yilp\",\"name\":\"\",\"created_at\":\"2011-08-18T03:43:30Z\",\"deleted_at\":null,\"hostname\":\"srv-7yilp\",\"started_at\":null,\"status\":\"active\",\"server_type\":{\"id\":\"typ-eir7x\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_types/typ-eir7x\",\"name\":\"nano\",\"cores\":2,\"handle\":\"nano\",\"disk_size\":20480,\"ram\":512,\"status\":\"available\"},\"zone\":{\"id\":\"zon-nzn7l\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1s.brightbox.com/1.0/zones/zon-nzn7l\",\"handle\":\"gb1s-b\"},\"cloud_ips\":[{\"id\":\"cip-33fjw\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1s.brightbox.com/1.0/cloud_ips/cip-33fjw\",\"reverse_dns\":\"cip-109-107-39-5.gb1s.brightbox.com\",\"status\":\"mapped\",\"public_ip\":\"109.107.39.5\"}],\"account\":{\"id\":\"acc-8gq0k\",\"resource_type\":\"account\",\"url\":\"https://api.gb1s.brightbox.com/1.0/account\",\"name\":\"Hemant Account\",\"status\":\"pending\"},\"snapshots\":[],\"interfaces\":[{\"id\":\"int-p6vyz\",\"resource_type\":\"interface\",\"url\":\"https://api.gb1s.brightbox.com/1.0/interfaces/int-p6vyz\",\"mac_address\":\"02:24:19:fb:11:ea\",\"ipv4_address\":\"10.251.17.234\",\"ipv6_address\":\"2a02:1348:14b:c47a:24:19ff:fefb:11ea\"}],\"server_groups\":[{\"id\":\"grp-qf4jo\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-qf4jo\",\"name\":\"hemant_group\",\"default\":false,\"description\":null}],\"image\":{\"id\":\"img-ymfuq\",\"resource_type\":\"image\",\"url\":\"https://api.gb1s.brightbox.com/1.0/images/img-ymfuq\",\"name\":\"Ubuntu Lucid 10.04 server\",\"created_at\":\"2011-06-01T15:43:38Z\",\"arch\":\"i686\",\"description\":\"login: ubuntu using stored ssh key\",\"status\":\"available\",\"source\":\"lucid.img\",\"owner\":\"acc-kg71m\"}},{\"id\":\"srv-kz1wq\",\"resource_type\":\"server\",\"url\":\"https://api.gb1s.brightbox.com/1.0/servers/srv-kz1wq\",\"name\":\"s1\",\"created_at\":\"2011-09-12T11:10:51Z\",\"deleted_at\":null,\"hostname\":\"srv-kz1wq\",\"started_at\":null,\"status\":\"active\",\"server_type\":{\"id\":\"typ-eir7x\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_types/typ-eir7x\",\"name\":\"nano\",\"cores\":2,\"handle\":\"nano\",\"disk_size\":20480,\"ram\":512[...]
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/server_types/typ-eir7x
    body: 
    headers: 
      Authorization: 
      - OAuth ae5d663283e87a7bd4be809607b5d4d9264af1b8
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"a6ac3245dcbc0325a44634d46cf30391\""
    body: 
      string: "{\"id\":\"typ-eir7x\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_types/typ-eir7x\",\"cores\":2,\"name\":\"nano\",\"handle\":\"nano\",\"disk_size\":20480,\"ram\":512,\"status\":\"available\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/zones/zon-nzn7l
    body: 
    headers: 
      Authorization: 
      - OAuth ae5d663283e87a7bd4be809607b5d4d9264af1b8
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"fbb15380193f964083459bd9c34b05bd\""
    body: 
      string: "{\"id\":\"zon-nzn7l\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1s.brightbox.com/1.0/zones/zon-nzn7l\",\"handle\":\"gb1s-b\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/zones/zon-x20w1
    body: 
    headers: 
      Authorization: 
      - OAuth ae5d663283e87a7bd4be809607b5d4d9264af1b8
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"a9180e4e4668bbe3887c6d8d8517775c\""
    body: 
      string: "{\"id\":\"zon-x20w1\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1s.brightbox.com/1.0/zones/zon-x20w1\",\"handle\":\"gb1s-a\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
