--- 
http_interactions: 
- request: 
    method: POST
    uri: https://api.gb1s.brightbox.com/token
    body: 
      string: "{\"client_id\":\"cli-cfv8i\",\"grant_type\":\"none\"}"
    headers: 
      Authorization: 
      - Basic Y2xpLWNmdjhpOjMwcjE3cWJ3cWFsb2VtZw==
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json
      Status: 
      - "200"
    body: 
      string: "{\"expires_in\":7200,\"access_token\":\"9b1d6a22503562503acde9740b410b89e2444009\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT 
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/account
    headers: 
      Authorization: 
      - OAuth 9b1d6a22503562503acde9740b410b89e2444009
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: !!null 
        str: ""
        "@taguri": x-private:null
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
    body: 
      string: "{\"id\":\"acc-998rf\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/account\",\"name\":\"Brighbox Systems\",\"status\":\"active\"}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
- request: 
    method: GET
    uri: https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-3q9jp
    body: 
      string: ""
    headers: 
      Authorization: 
      - OAuth 0612996d7447d4869fed2a8dd349d077daaae53e
      Content-Type: 
      - application/json
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "200"
      Etag: 
      - "\"6e64bd17608cf9d6df9f59990a75ccc2\""
    body: 
      string: "{\"id\":\"fwp-3q9jp\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_policies/fwp-3q9jp\",\"name\":\"default_permissive_policy\",\"default\":false,\"description\":null,\"rules\":[{\"id\":\"fwr-rwqbb\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-rwqbb\",\"destination\":\"0.0.0.0/0\",\"protocol\":\"all\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":null,\"destination_port\":\"*\"},{\"id\":\"fwr-3jnni\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-3jnni\",\"destination\":\"::/0\",\"protocol\":\"all\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":null,\"destination_port\":\"*\"},{\"id\":\"fwr-jv1my\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-jv1my\",\"destination\":null,\"protocol\":\"icmp\",\"source_port\":null,\"icmp_type_name\":\"echo-request\",\"description\":null,\"source\":\"0.0.0.0/0\",\"destination_port\":\"*\"},{\"id\":\"fwr-cl1kg\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-cl1kg\",\"destination\":null,\"protocol\":\"icmp\",\"source_port\":null,\"icmp_type_name\":\"echo-request\",\"description\":null,\"source\":\"::/0\",\"destination_port\":\"*\"},{\"id\":\"fwr-2j6mv\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-2j6mv\",\"destination\":null,\"protocol\":\"tcp\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":\"0.0.0.0/0\",\"destination_port\":\"*\"},{\"id\":\"fwr-ermn0\",\"resource_type\":\"firewall_rule\",\"url\":\"https://api.gb1s.brightbox.com/1.0/firewall_rules/fwr-ermn0\",\"destination\":null,\"protocol\":\"tcp\",\"source_port\":null,\"icmp_type_name\":null,\"description\":null,\"source\":\"::/0\",\"destination_port\":\"*\"}],\"server_group\":{\"id\":\"grp-leb2i\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1s.brightbox.com/1.0/server_groups/grp-leb2i\",\"name\":\"default_permissive_group\",\"default\":false,\"description\":null}}"
  recorded_at: Wed, 26 Jun 2013 14:56:22 GMT
recorded_with: VCR 2.5.0
