--- 
recorded_with: VCR 2.5.0
http_interactions: 
- request: 
    method: post
    uri: http://api.dev.brightbox.com/token
    body: 
      string: "{\"client_id\":\"cli-12345\",\"grant_type\":\"none\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
      ETag: 
      - "\"244cd0d7ec7624bc7dc3d0e9fef58f04\""
    body: 
      string: "{\"access_token\":\"<TOKEN>\",\"expires_in\":7200}"
  recorded_at: Tue, 16 Jul 2013 10:28:27 GMT
- request: 
    method: get
    uri: http://api.dev.brightbox.com/1.0/account
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      ETag: 
      - "\"b82df36dcdec445aaf5133ed7a90c3da\""
    body: 
      string: "{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Axhgwngfswvffgjyq\",\"status\":\"active\",\"address_1\":\"Welch Estates\",\"address_2\":\"\",\"city\":\"Wolfberg\",\"county\":\"\",\"postcode\":\"93735\",\"country_code\":\"GB\",\"country_name\":\"United Kingdom\",\"vat_registration_number\":\"\",\"telephone_number\":\"+447977112464\",\"telephone_verified\":false,\"verified_telephone\":null,\"verified_at\":null,\"verified_ip\":null,\"created_at\":\"2013-07-15T09:56:36Z\",\"ram_limit\":32768,\"ram_used\":18432,\"cloud_ips_limit\":20,\"cloud_ips_used\":2,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"valid_credit_card\":false,\"library_ftp_host\":\"ftp.library.gb1.brightbox.com\",\"library_ftp_user\":\"acc-12345\",\"library_ftp_password\":null,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_stop\",\"status\":\"creating\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-07-15T13:36:32Z\",\"started_at\":null,\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_shutdown\",\"status\":\"creating\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-07-15T15:56:34Z\",\"started_at\":null,\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"wow\",\"status\":\"creating\",\"hostname\":\"[...]
- request: 
    method: get
    uri: http://api.dev.brightbox.com/1.0/server_types?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      ETag: 
      - "\"acef9458ad69d2343ffa73cbafefc415\""
    body: 
      string: "[{\"id\":\"typ-12345\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_types/typ-12345\",\"name\":\"ikcsh4wo\",\"status\":\"available\",\"cores\":2,\"ram\":1024,\"disk_size\":10240,\"handle\":\"nano\"},{\"id\":\"typ-12345\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_types/typ-12345\",\"name\":\"xp8zs38\",\"status\":\"available\",\"cores\":2,\"ram\":1024,\"disk_size\":4096,\"handle\":null},{\"id\":\"typ-12345\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_types/typ-12345\",\"name\":\"y7i4k\",\"status\":\"available\",\"cores\":2,\"ram\":3072,\"disk_size\":2048,\"handle\":null},{\"id\":\"typ-12345\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_types/typ-12345\",\"name\":\"rrmzb4iayw\",\"status\":\"available\",\"cores\":2,\"ram\":2048,\"disk_size\":4096,\"handle\":null},{\"id\":\"typ-12345\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_types/typ-12345\",\"name\":\"xl838t1\",\"status\":\"available\",\"cores\":2,\"ram\":1024,\"disk_size\":4096,\"handle\":null}]"
  recorded_at: Tue, 16 Jul 2013 10:28:28 GMT
- request: 
    method: post
    uri: http://api.dev.brightbox.com/1.0/servers?account_id=acc-12345
    body: 
      string: "{\"image\":\"img-12345\",\"server_type\":\"typ-12345\",\"name\":\"rspec_server_stop\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - http://honcho.dev/1.0/servers/srv-wijxs
    body: 
      string: "{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"rspec_server_stop\",\"status\":\"creating\",\"hostname\":\"srv-12345\",\"created_at\":\"2013-07-16T10:28:29Z\",\"started_at\":null,\"deleted_at\":null,\"user_data\":null,\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"compatibility_mode\":false,\"console_url\":null,\"console_token\":null,\"console_token_expires\":null,\"account\":{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Axhgwngfswvffgjyq\",\"status\":\"active\"},\"image\":{\"id\":\"img-12345\",\"resource_type\":\"image\",\"url\":\"https://api.gb1.brightbox.com/1.0/images/img-12345\",\"name\":\"3wmd3dgwzcwxxrsogfi4l7hd\",\"username\":null,\"status\":\"available\",\"description\":\"\",\"source\":\"s5tha1kzpzldvlaly1lnqfia\",\"arch\":\"x86_64\",\"created_at\":\"2013-07-15T09:56:29Z\",\"official\":true,\"public\":true,\"owner\":\"acc-12345\"},\"server_type\":{\"id\":\"typ-12345\",\"resource_type\":\"server_type\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_types/typ-12345\",\"name\":\"ikcsh4wo\",\"status\":\"available\",\"cores\":2,\"ram\":1024,\"disk_size\":10240,\"handle\":\"nano\"},\"zone\":{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-b\"},\"cloud_ips\":[],\"interfaces\":[{\"id\":\"int-bocpf\",\"resource_type\":\"interface\",\"url\":\"https://api.gb1.brightbox.com/1.0/interfaces/int-bocpf\",\"mac_address\":\"02:24:19:03:ca:36\",\"ipv4_address\":\"10.3.202.54\",\"ipv6_address\":\"2a02:1348:197:f28d:24:19ff:fe03:ca36\"}],\"snapshots\":[],\"server_groups\":[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-07-15T09:56:36Z\",\"default\":true}]}"
  recorded_at: Tue, 16 Jul 2013 10:28:30 GMT
- request: 
    method: get
    uri: http://api.dev.brightbox.com/1.0/servers/srv-12345?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      ETag: 
      - "\"2540200c348b91d76ef10ad0df484c87\""
    body: 
      string: "{\"id\":\"srv-12345\",\"resource_type\":[...]
[...]
- request: 
    method: post
    uri: http://api.dev.brightbox.com/1.0/servers/srv-12345/stop?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0[...]
