--- 
recorded_with: VCR 2.5.0
http_interactions: 
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      ETag: 
      - "\"1e11c0b6a848197a2fc399e1a9ebb662\""
    body: 
      string: "{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Avkruvviumpksysor\",\"status\":\"active\",\"address_1\":\"Israel Flats\",\"address_2\":\"\",\"city\":\"Clarkmouth\",\"county\":\"\",\"postcode\":\"97088-3817\",\"country_code\":\"GB\",\"country_name\":\"United Kingdom\",\"vat_registration_number\":\"\",\"telephone_number\":\"+445722683970\",\"telephone_verified\":false,\"verified_telephone\":null,\"verified_at\":null,\"verified_ip\":null,\"created_at\":\"2013-08-27T15:47:00Z\",\"ram_limit\":32768,\"ram_used\":15360,\"cloud_ips_limit\":20,\"cloud_ips_used\":1,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"valid_credit_card\":false,\"library_ftp_host\":\"ftp.library.gb1.brightbox.com\",\"library_ftp_user\":\"acc-12345\",\"library_ftp_password\":null,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"wow\",\"status\":\"active\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-08-27T15:54:24Z\",\"started_at\":\"2013-08-27T15:54:27Z\",\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"medium servers\",\"status\":\"active\",\"hostname\":\"srv-12345\",\"fqdn\":\"srv-12345.gb1.brightbox.com\",\"created_at\":\"2013-08-27T15:54:26Z\",\"started_at\":\"2013-08-27T15:54:29Z\",\"deleted_at\":null},{\"id\":\"srv-12345\",\"resource_type\":\"server\",\"url\":\"https://api.gb1.brightbox.com/1.0/servers/srv-12345\",\"name\":\"\",\"status\":\"deleted\",\"hostna[...]
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"grant_type\":\"none\",\"client_id\":\"app-12345\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
  response: 
    status: 
      code: 400
      message: 
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      string: "{\"error\":\"unauthorized_client\",\"error_description\":\"The authenticated client is not authorized to use the access grant type provided.\"}"
  recorded_at: Tue, 27 Aug 2013 17:09:58 GMT
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"grant_type\":\"none\",\"client_id\":\"cli-12345\"}"
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
      ETag: 
      - "\"6ba0903c80d74cba28ff11d3b1b6c595\""
    body: 
      string: "{\"access_token\":\"64a61980c09105f0c9000b480473f118461e9bec\",\"expires_in\":7200}"
  recorded_at: Wed, 28 Aug 2013 16:08:24 GMT
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth 64a61980c09105f0c9000b480473f118461e9bec
  response: 
    status: 
      code: 401
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      WWW-Authenticate: 
      - OAuth error="invalid_token"
    body: 
      string: "{\"error\":\"invalid_token\",\"error_description\":\"The OAuth token can not be found\"}"
  recorded_at: Tue, 17 Sep 2013 17:07:41 GMT
[...]
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth 18ee6be47f33d919db95c5de206ddaa1f2cb754b
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      ETag: 
      - "\"7d4ad7857ea408897b8a2149197611ba\""
    body: 
      string: "[{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Asaibdsjnpdgrdcqo\",\"status\":\"active\",\"ram_limit\":32768,\"ram_used\":0,\"cloud_ips_limit\":20,\"cloud_ips_used\":1,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[],\"load_balancers\":[],\"cloud_ips\":[{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"153.37.92.121\",\"reverse_dns\":\"cip-12345-37-92-121.gb1.brightbox.com\",\"name\":null}],\"server_groups\":[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-09-17T08:44:16Z\",\"default\":true}],\"firewall_policies\":[{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":true,\"name\":\"default\",\"created_at\":\"2013-09-17T08:44:16Z\",\"description\":\"Applied to the default server group.\"}],\"owner\":{\"id\":\"usr-12345\",\"resource_type\":\"user\",\"url\":\"https://api.gb1.brightbox.com/1.0/users/usr-12345\",\"name\":\"Kobe Swaniawski Sr.\",\"email_address\":\"jason.null@brightbox.com\"},\"users\":[],\"zones\":[{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"},{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-b\"}]}]"
  recorded_at: Tue, 17 Sep 2013 17:07:41 GMT
[...]
