---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"04509c8cb201d0a99deeeeac97c94e16"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Avkruvviumpksysor","status":"active","address_1":"Israel
        Flats","address_2":"","city":"Clarkmouth","county":"","postcode":"97088-3817","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+445722683970","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-27T15:47:00Z","ram_limit":32768,"ram_used":15360,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-27T15:54:24Z","started_at":"2013-08-27T15:54:27Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-27T15:54:26Z","started_at":"2013-08-27T15:54:29Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"deleted","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/firewall_policies?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/firewall_policies/fwp-sz51p
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6781a4bde4683cfa57d076367cf3ae1f"'
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-08-27T16:12:49Z","description":null,"server_group":null,"rules":[]}'
  recorded_at: Tue, 27 Aug 2013 16:12:49 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/firewall_rules?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"firewall_policy":"fwp-12345","protocol":"tcp","destination":"0.0.0.0/0","destination_port":"1080"}'
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/firewall_rules/fwr-6q2f6
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1080","icmp_type_name":null,"protocol":"tcp","description":null,"created_at":"2013-08-27T16:12:49Z","firewall_policy":{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-08-27T16:12:49Z","description":null}}'
  recorded_at: Tue, 27 Aug 2013 16:12:49 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/firewall_rules/fwr-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"cc4358a03532ca4ea750432733c28fa8"'
    body:
      encoding: UTF-8
      string: '{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1080","icmp_type_name":null,"protocol":"tcp","description":null,"created_at":"2013-08-27T16:12:49Z","firewall_policy":{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-08-27T16:12:49Z","description":null}}'
  recorded_at: Tue, 27 Aug 2013 16:12:49 GMT
recorded_with: VCR 2.5.0
