---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      User-Agent:
      - fog/1.15.0
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      X-XSS-Protection:
      - 1; mode=block
      Content-Type:
      - application/json;charset=utf-8
      Cache-Control:
      - no-store
      Content-Length:
      - '136'
      X-UA-Compatible:
      - IE=Edge
      ETag:
      - '"1f507fa236a4c3c7462c084ec8cda6d5"'
      X-Request-Id:
      - 1f813e4278c712c42b5c063d6789b391
      X-Runtime:
      - '0.265062'
      Date:
      - Fri, 06 Sep 2013 16:04:27 GMT
      Connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: '{"access_token":"b0277fa9c21f1a6995b07a9da73c9f8702999194","expires_in":7200,"refresh_token":"ce9ca2cedece63cfc8ad646b13c187a5133b2d1e"}'
    http_version:
  recorded_at: Fri, 06 Sep 2013 16:04:27 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Agent:
      - fog/1.15.0
      Authorization:
      - OAuth f7d882463fb3e652703d09227a2368e6e83812a7
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      WWW-Authenticate:
      - OAuth error="expired_token"
      Content-Type:
      - application/json; charset=utf-8
      X-UA-Compatible:
      - IE=Edge
      Cache-Control:
      - no-cache
      X-Request-Id:
      - 2c69e61a2a10165f800e49cb2df22131
      X-Runtime:
      - '0.209667'
      Date:
      - Fri, 06 Sep 2013 16:04:27 GMT
      Connection:
      - close
    body:
      encoding: UTF-8
      string: '{"error":"expired_token","error_description":"OAuth token presented
        has expired and is no longer valid"}'
    http_version:
  recorded_at: Fri, 06 Sep 2013 16:04:27 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      User-Agent:
      - fog/1.15.0
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      X-XSS-Protection:
      - 1; mode=block
      Content-Type:
      - application/json;charset=utf-8
      Cache-Control:
      - no-store
      Content-Length:
      - '77'
      X-UA-Compatible:
      - IE=Edge
      ETag:
      - '"b3a6884520a29eae969205e68672ce80"'
      X-Request-Id:
      - e8cea90dee798f79c3b994c4e6862123
      X-Runtime:
      - '0.116961'
      Date:
      - Fri, 06 Sep 2013 16:04:27 GMT
      Connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: '{"access_token":"a32769d11d8fbac160d557e760fd8cc618d56156","expires_in":7200}'
    http_version:
  recorded_at: Fri, 06 Sep 2013 16:04:27 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      User-Agent:
      - fog/1.15.0
      Authorization:
      - OAuth a32769d11d8fbac160d557e760fd8cc618d56156
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-UA-Compatible:
      - IE=Edge
      ETag:
      - '"d40ca0ee4b8bedc3d493e1c7674a861e"'
      Cache-Control:
      - max-age=0, private, must-revalidate
      X-Request-Id:
      - d5563bae1ab28b1e937a89ec4e3ebb85
      X-Runtime:
      - '0.113498'
      Date:
      - Fri, 06 Sep 2013 16:04:28 GMT
      Connection:
      - close
    body:
      encoding: UTF-8
      string: '[{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Aurnqfvgsbeyiprni","status":"active","ram_limit":32768,"ram_used":0,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[],"load_balancers":[],"cloud_ips":[{"id":"cip-12345","resource_type":"cloud_ip","url":"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345","status":"unmapped","public_ip":"56.67.59.219","reverse_dns":"cip-12345-67-59-219.gb1.brightbox.com","name":null}],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-09-04T07:53:13Z","default":true}],"firewall_policies":[{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":true,"name":"default","created_at":"2013-09-04T07:53:14Z","description":"Applied
        to the default server group."}],"owner":{"id":"usr-12345","resource_type":"user","url":"https://api.gb1.brightbox.com/1.0/users/usr-12345","name":"Dylan
        Fay DDS","email_address":"jason.null@brightbox.com"},"users":[],"zones":[{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"}]}]'
    http_version:
  recorded_at: Fri, 06 Sep 2013 16:04:28 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","client_id":"app-12345","refresh_token":"ce9ca2cedece63cfc8ad646b13c187a5133b2d1e"}'
    headers:
      User-Agent:
      - fog/1.15.0
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      X-Frame-Options:
      - sameorigin
      X-XSS-Protection:
      - 1; mode=block
      Content-Type:
      - application/json;charset=utf-8
      Cache-Control:
      - no-store
      Content-Length:
      - '250'
      X-UA-Compatible:
      - IE=Edge
      X-Request-Id:
      - 3d4e056b06860b22aac3cb73725a18e1
      X-Runtime:
      - '0.103943'
      Date:
      - Tue, 17 Sep 2013 17:07:38 GMT
      Connection:
      - keep-alive
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided access grant
        is invalid, expired, or revoked (e.g. invalid assertion, expired authorization
        token, bad end-user password credentials, or mismatching authorization code
        and redirection URI)."}'
    http_version:
  recorded_at: Tue, 17 Sep 2013 17:07:38 GMT
recorded_with: VCR 2.5.0
