---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"2c83469a850ff81ce66a5ceae402b1d5"'
    body:
      encoding: UTF-8
      string: '{"access_token":"f39042c7a3603c483ce8bafe1f66bb75bfe3c716","token_type":"Bearer","refresh_token":"c38a40b31c9fdd355f8e5e35fd910d51108ba426","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Thu, 20 Aug 2015 12:47:15 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f39042c7a3603c483ce8bafe1f66bb75bfe3c716
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      X-Oauth-Scopes:
      - infrastructure, orbit
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d24c99691de4ff46c6d722bc9b0a0ff1"'
    body:
      encoding: UTF-8
      string: '[{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"CLI
        test account","status":"active","ram_limit":3200000,"ram_used":0,"dbs_ram_limit":32768,"dbs_ram_used":20480,"cloud_ips_limit":32,"cloud_ips_used":0,"load_balancers_limit":5,"load_balancers_used":0,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":"CLI
        test API client","description":"","revoked_at":null,"permissions_group":"full"}],"images":[],"servers":[],"load_balancers":[],"database_servers":[{"id":"dbs-rucpa","resource_type":"database_server","url":"https://api.gb1.brightbox.com/1.0/database_servers/dbs-rucpa","name":"","description":"","allow_access":["10.0.0.0"],"database_engine":"mysql","database_version":"5.6","status":"active","locked":false,"maintenance_weekday":0,"maintenance_hour":6,"created_at":"2015-08-19T15:57:25Z","updated_at":"2015-08-19T15:57:29Z","deleted_at":null},{"id":"dbs-w1t98","resource_type":"database_server","url":"https://api.gb1.brightbox.com/1.0/database_servers/dbs-w1t98","name":"","description":"","allow_access":[],"database_engine":"mysql","database_version":"5.6","status":"active","locked":false,"maintenance_weekday":0,"maintenance_hour":6,"created_at":"2015-08-19T15:57:26Z","updated_at":"2015-08-19T15:57:29Z","deleted_at":null},{"id":"dbs-vdkdb","resource_type":"database_server","url":"https://api.gb1.brightbox.com/1.0/database_server[...]
