---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"48f3a0f6c4ca11037b44580d0f92a39d"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Avkruvviumpksysor","status":"active","address_1":"Israel
        Flats","address_2":"","city":"Clarkmouth","county":"","postcode":"97088-3817","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+445722683970","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-27T15:47:00Z","ram_limit":32768,"ram_used":15360,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-27T15:54:24Z","started_at":"2013-08-27T15:54:27Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-27T15:54:26Z","started_at":"2013-08-27T15:54:29Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"deleted","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/server_groups?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"name":"rspec_tests"}'
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/server_groups/grp-13tm6
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"rspec_tests","description":null,"created_at":"2013-08-27T16:12:43Z","default":false,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Avkruvviumpksysor","status":"active"},"firewall_policy":null,"servers":[]}'
  recorded_at: Tue, 27 Aug 2013 16:12:43 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/firewall_policies?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"server_group":"grp-12345","name":"rspec_firewall_policy"}'
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/firewall_policies/fwp-zpofc
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"954f08e0d9476cd36ae28b27483e78d1"'
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":"rspec_firewall_policy","created_at":"2013-08-27T16:12:43Z","description":null,"server_group":{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"rspec_tests","description":null,"created_at":"2013-08-27T16:12:43Z","default":false},"rules":[]}'
  recorded_at: Tue, 27 Aug 2013 16:12:43 GMT
- request:
    method: delete
    uri: http://api.brightbox.dev/1.0/server_groups/grp-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 63a4f6dbf53263e7468d3084ae9c50ecdcdf1714
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"rspec_tests","description":null,"created_at":"2013-08-27T16:12:43Z","default":false,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Avkruvviumpksysor","status":"active"},"firewall_policy":{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":"rspec_firewall_policy","created_at":"2013-08-27T16:12:43Z","description":null},"servers":[]}'
  recorded_at: Tue, 27 Aug 2013 16:12:44 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"app-12345"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"The authenticated
        client is not authorized to use the access grant type provided."}'
  recorded_at: Tue, 27 Aug 2013 17:09:59 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"app-12345"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized_client","error_description":"The authenticated
        client is not authorized to use the access grant type provided."}'
  recorded_at: Tue, 27 Aug 2013 17:09:59 GMT
recorded_with: VCR 2.5.0
