---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"697d0aab79f01a2bdf7482f424909322"'
    body:
      encoding: UTF-8
      string: '{"access_token":"c66770252fb1f1b75a692633302730815ad6cc80","expires_in":7200,"refresh_token":"7926b1bf09b7714c15b393bdf4bc86542d263eb3"}'
  recorded_at: Wed, 28 Aug 2013 11:37:23 GMT
recorded_with: VCR 2.5.0
