---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"The client identifier
        provided is invalid, the client failed to authenticate, the client did not
        include its credentials, provided multiple client credentials, or used unsupported
        credentials type."}'
  recorded_at: Wed, 28 Aug 2013 14:46:22 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - 'OAuth '
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"The OAuth token can not
        be found"}'
  recorded_at: Wed, 28 Aug 2013 14:46:22 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"b57a7c633a65614b74cc29839ccfade8e64e696d"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided access grant
        is invalid, expired, or revoked (e.g. invalid assertion, expired authorization
        token, bad end-user password credentials, or mismatching authorization code
        and redirection URI)."}'
  recorded_at: Wed, 28 Aug 2013 14:46:23 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"7b0813c660903431dada91761102a9e2"'
    body:
      encoding: UTF-8
      string: '{"access_token":"2234e839fed8172ef4f1c4a3edfde8ea8deea4a4","expires_in":7200,"refresh_token":"e47999ca927b0f50dfd883056a60a3841d09d941"}'
  recorded_at: Wed, 28 Aug 2013 14:46:23 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"b57a7c633a65614b74cc29839ccfade8e64e696d"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_grant","error_description":"The provided access grant
        is invalid, expired, or revoked (e.g. invalid assertion, expired authorization
        token, bad end-user password credentials, or mismatching authorization code
        and redirection URI)."}'
  recorded_at: Wed, 18 Sep 2013 15:19:43 GMT
recorded_with: VCR 2.5.0
