---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"c7333ddb72efa71fbb8d7d4b00051beb"'
    body:
      encoding: UTF-8
      string: '{"access_token":"3d2c59b7117167c7f021ba8560f613a6712091b3","expires_in":7200,"refresh_token":"82999b51610c03a3258e81f48c17fe93e6b8fba9"}'
  recorded_at: Mon, 23 Sep 2013 14:53:11 GMT
recorded_with: VCR 2.5.0
