---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: 
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"The OAuth token can not
        be found"}'
  recorded_at: Tue, 27 Aug 2013 09:22:27 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"3e49c05f5544039315ccc57a2d96b539"'
    body:
      encoding: UTF-8
      string: '{"access_token":"10559881ba604ed361c69900c48b80bbe3563eea","expires_in":7200}'
  recorded_at: Tue, 27 Aug 2013 09:22:28 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 10559881ba604ed361c69900c48b80bbe3563eea
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"d4f1506dfe66f1bf731cfbb7afb5b60b"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Auhsbfmgchqvnamne","status":"active","address_1":"Zemlak
        Hill","address_2":"","city":"Beckerstad","county":"","postcode":"15228-7471","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+445161967551","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-27T09:09:04Z","ram_limit":32768,"ram_used":0,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[],"load_balancers":[],"cloud_ips":[{"id":"cip-12345","resource_type":"cloud_ip","url":"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345","status":"unmapped","public_ip":"199.142.228.56","reverse_dns":"cip-12345-142-228-56.gb1.brightbox.com","name":null}],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-08-27T09:09:04Z","default":true}],"firewall_policies":[{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":true,"name":"default","created_at":"2013-08-27T09:09:04Z","description":"Applied
        to the default server group."}],"owner":{"id":"usr-12345","resource_type":"user","url":"https://api.gb1.brightbox.com/1.0/users/usr-12345","name":"Zena
        Reichel III","email_address":"jason.null@brightbox.com"},"users":[],"zones":[{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"}]}'
  recorded_at: Tue, 27 Aug 2013 09:22:30 GMT
recorded_with: VCR 2.5.0
