--- 
recorded_with: VCR 2.5.0
http_interactions: 
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"grant_type\":\"none\",\"client_id\":\"cli-12345\"}"
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response: 
    status: 
      code: 200
      message: 
    headers: 
      X-Frame-Options: 
      - sameorigin
      Date: 
      - Fri, 06 Sep 2013 15:58:57 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - 82a65a1676245fa8c1af95c03887429a
      Content-Type: 
      - application/json;charset=utf-8
      X-Runtime: 
      - "0.124936"
      Content-Length: 
      - "77"
      ETag: 
      - "\"e78c95ce98c050a99b89933f6ae9a830\""
      X-XSS-Protection: 
      - 1; mode=block
      Connection: 
      - keep-alive
      Cache-Control: 
      - no-store
    body: 
      string: "{\"access_token\":\"1885c545834fb6bf3580d01cd6951c49ef71948d\",\"expires_in\":7200}"
    http_version: 
  recorded_at: Fri, 06 Sep 2013 15:58:57 GMT
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body: 
      string: ""
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth 0ab4badeb10018d07c1f6c33690ee011f36b4183
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Date: 
      - Fri, 06 Sep 2013 15:58:57 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - 10cd2e76dd41929bd9db6b337b08fd3d
      Content-Type: 
      - application/json; charset=utf-8
      X-Runtime: 
      - "0.265923"
      ETag: 
      - "\"a9e93d5f3268805675b0c5c935311a85\""
      Connection: 
      - close
      Cache-Control: 
      - max-age=0, private, must-revalidate
    body: 
      string: "{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Aurnqfvgsbeyiprni\",\"status\":\"active\",\"address_1\":\"Kaycee Throughway\",\"address_2\":\"\",\"city\":\"South Hellenport\",\"county\":\"\",\"postcode\":\"60364-9886\",\"country_code\":\"GB\",\"country_name\":\"United Kingdom\",\"vat_registration_number\":\"\",\"telephone_number\":\"+444238318140\",\"telephone_verified\":false,\"verified_telephone\":null,\"verified_at\":null,\"verified_ip\":null,\"created_at\":\"2013-09-04T07:53:13Z\",\"ram_limit\":32768,\"ram_used\":0,\"cloud_ips_limit\":20,\"cloud_ips_used\":1,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"valid_credit_card\":false,\"library_ftp_host\":\"ftp.library.gb1.brightbox.com\",\"library_ftp_user\":\"acc-12345\",\"library_ftp_password\":null,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[],\"load_balancers\":[],\"cloud_ips\":[{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"56.67.59.219\",\"reverse_dns\":\"cip-12345-67-59-219.gb1.brightbox.com\",\"name\":null}],\"server_groups\":[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-09-04T07:53:13Z\",\"default\":true}],\"firewall_policies\":[{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":true,\"name\":\"default\",\"created_at\":\"2013-09-04T07:53:14Z\",\"description\":\"Applied to the default server group.\"}],\"owner\":{\"id\":\"usr-12345\",\"resource_type\":\"user\",\"url\":\"https://api.gb1.brightbox.com/1.0/users/usr-12345\",\"name\":\"Dylan Fay DDS\",\"email_address\":\"jason.null@brightbox.com\"},\"users\":[],\"zones\":[{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"},{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-b\"}]}"
    http_version: 
  recorded_at: Fri, 06 Sep 2013 15:58:57 GMT
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body: 
      string: ""
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth 1885c545834fb6bf3580d01cd6951c49ef71948d
  response: 
    status: 
      code: 401
      message: 
    headers: 
      Date: 
      - Tue, 17 Sep 2013 17:07:35 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - 0f0d8c95cd487c2404156022833b8532
      Content-Type: 
      - application/json; charset=utf-8
      X-Runtime: 
      - "0.028998"
      WWW-Authenticate: 
      - OAuth error="invalid_token"
      Connection: 
      - close
      Cache-Control: 
      - no-cache
    body: 
      string: "{\"error\":\"invalid_token\",\"error_description\":\"The OAuth token can not be found\"}"
    http_version: 
  recorded_at: Tue, 17 Sep 2013 17:07:35 GMT
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"grant_type\":\"none\",\"client_id\":\"cli-12345\"}"
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response: 
    status: 
      code: 200
      message: 
    headers: 
      X-Frame-Options: 
      - sameorigin
      Date: 
      - Tue, 17 Sep 2013 17:07:35 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - 7abc4002d2ec22ae654f54d013d4ced5
      Content-Type: 
      - application/json;charset=utf-8
      X-Runtime: 
      - "0.203379"
      Content-Length: 
      - "77"
      ETag: 
      - "\"91cf3400439e1829dc9e630d44ea929a\""
      X-XSS-Protection: 
      - 1; mode=block
      Connection: 
      - keep-alive
      Cache-Control: 
      - no-store
    body: 
      string: "{\"access_token\":\"faec715aabc9c2024a4fe8b9f277ade01291db68\",\"expires_in\":7200}"
    http_version: 
  recorded_at: Tue, 17 Sep 2013 17:07:35 GMT
- request: 
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body: 
      string: ""
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth faec715aabc9c2024a4fe8b9f277ade01291db68
  response: 
    status: 
      code: 200
      message: 
    headers: 
      Date: 
      - Tue, 17 Sep 2013 17:07:36 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - cb7ee2ea2e52e656e91e04e6c3b4a37a
      Content-Type: 
      - application/json; charset=utf-8
      X-Runtime: 
      - "0.709254"
      ETag: 
      - "\"7d4ad7857ea408897b8a2149197611ba\""
      Connection: 
      - close
      Cache-Control: 
      - max-age=0, private, must-revalidate
    body: 
      string: "[{\"id\":\"acc-12345\",\"resource_type\":\"account\",\"url\":\"https://api.gb1.brightbox.com/1.0/accounts/acc-12345\",\"name\":\"Asaibdsjnpdgrdcqo\",\"status\":\"active\",\"ram_limit\":32768,\"ram_used\":0,\"cloud_ips_limit\":20,\"cloud_ips_used\":1,\"load_balancers_limit\":5,\"load_balancers_used\":0,\"clients\":[{\"id\":\"cli-12345\",\"resource_type\":\"api_client\",\"url\":\"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345\",\"name\":null,\"description\":null,\"revoked_at\":null}],\"images\":[],\"servers\":[],\"load_balancers\":[],\"cloud_ips\":[{\"id\":\"cip-12345\",\"resource_type\":\"cloud_ip\",\"url\":\"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345\",\"status\":\"unmapped\",\"public_ip\":\"153.37.92.121\",\"reverse_dns\":\"cip-12345-37-92-121.gb1.brightbox.com\",\"name\":null}],\"server_groups\":[{\"id\":\"grp-12345\",\"resource_type\":\"server_group\",\"url\":\"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345\",\"name\":\"default\",\"description\":\"All new servers are added to this group unless specified otherwise.\",\"created_at\":\"2013-09-17T08:44:16Z\",\"default\":true}],\"firewall_policies\":[{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":true,\"name\":\"default\",\"created_at\":\"2013-09-17T08:44:16Z\",\"description\":\"Applied to the default server group.\"}],\"owner\":{\"id\":\"usr-12345\",\"resource_type\":\"user\",\"url\":\"https://api.gb1.brightbox.com/1.0/users/usr-12345\",\"name\":\"Kobe Swaniawski Sr.\",\"email_address\":\"jason.null@brightbox.com\"},\"users\":[],\"zones\":[{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-a\"},{\"id\":\"zon-12345\",\"resource_type\":\"zone\",\"url\":\"https://api.gb1.brightbox.com/1.0/zones/zon-12345\",\"handle\":\"gb1-b\"}]}]"
    http_version: 
  recorded_at: Tue, 17 Sep 2013 17:07:36 GMT
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"client_id\":\"cli-12345\",\"grant_type\":\"none\"}"
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response: 
    status: 
      code: 200
      message: 
    headers: 
      X-Frame-Options: 
      - sameorigin
      Date: 
      - Fri, 27 Sep 2013 15:26:07 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - 5fea2f7700ff95f158770013e636bb6f
      Content-Type: 
      - application/json;charset=utf-8
      X-Runtime: 
      - "0.111563"
      Content-Length: 
      - "77"
      ETag: 
      - "\"331124a76bb22dab0ffba099c635007d\""
      X-XSS-Protection: 
      - 1; mode=block
      Connection: 
      - keep-alive
      Cache-Control: 
      - no-store
    body: 
      string: "{\"access_token\":\"38ee25f7ca3fb7ea080ecf2b84f0800117da8666\",\"expires_in\":7200}"
    http_version: 
  recorded_at: Fri, 27 Sep 2013 15:26:07 GMT
- request: 
    method: post
    uri: http://api.brightbox.dev/token
    body: 
      string: "{\"client_id\":\"cli-12345\",\"grant_type\":\"none\"}"
    headers: 
      User-Agent: 
      - fog/1.15.0
      Content-Type: 
      - application/json
      Authorization: 
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
  response: 
    status: 
      code: 200
      message: 
    headers: 
      X-Frame-Options: 
      - sameorigin
      Date: 
      - Fri, 27 Sep 2013 15:26:07 GMT
      X-UA-Compatible: 
      - IE=Edge
      X-Request-Id: 
      - 9e7865a55c0f7a2af0d5381c3d24cef2
      Content-Type: 
      - application/json;charset=utf-8
      X-Runtime: 
      - "0.124098"
      Content-Length: 
      - "77"
      ETag: 
      - "\"76c230e0c0d12997e8f3ced749c2f528\""
      X-XSS-Protection: 
      - 1; mode=block
      Connection: 
      - keep-alive
      Cache-Control: 
      - no-store
    body: 
      string: "{\"access_token\":\"5c79a511d14aaef83c009d0326a3d77523a82d9f\",\"expires_in\":7200}"
    http_version: 
  recorded_at: Fri, 27 Sep 2013 15:26:07 GMT
