---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/firewall_policies/fwp-12345?account_id=acc-12345
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"1f4bbb9e25d35eaca1e138e39a9bab61"'
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-07-16T09:20:08Z","description":null,"server_group":null,"rules":[{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1080","protocol":"tcp","icmp_type_name":null,"description":null,"created_at":"2013-07-16T09:20:08Z"},{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1081","protocol":"tcp","icmp_type_name":null,"description":null,"created_at":"2013-07-16T09:20:08Z"}]}'
  recorded_at: Tue, 16 Jul 2013 09:20:09 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <TOKEN>
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"8262bef68758cc2d851c61874c9157d8"'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":7200}'
  recorded_at: Tue, 16 Jul 2013 10:14:24 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"be9936e3fc71b889d173fe857230fba2"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Adlxfrxwdxvgsuiae","status":"active","address_1":"Runolfsson
        Course","address_2":"","city":"Lubowitzton","county":"","postcode":"39940-6114","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+443049386317","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-23T11:35:50Z","ram_limit":32768,"ram_used":25600,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-23T15:10:05Z","started_at":"2013-08-23T15:10:26Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-23T15:10:08Z","started_at":"2013-08-23T15:10:28Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com"[...]
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/firewall_policies?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/firewall_policies/fwp-c3js8
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"099c81de083af20cc334e2e061f41f78"'
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-08-23T15:42:34Z","description":null,"server_group":null,"rules":[]}'
  recorded_at: Fri, 23 Aug 2013 15:42:34 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/firewall_rules?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"firewall_policy":"fwp-c3js8","protocol":"tcp","destination":"0.0.0.0/0","destination_port":"1080"}'
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/firewall_rules/fwr-c5e5b
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1080","icmp_type_name":null,"protocol":"tcp","description":null,"created_at":"2013-08-23T15:42:34Z","firewall_policy":{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-08-23T15:42:34Z","description":null}}'
  recorded_at: Fri, 23 Aug 2013 15:42:34 GMT
[...]
- request:
    method: delete
    uri: http://api.brightbox.dev/1.0/firewall_policies/fwp-12345?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":false,"name":null,"created_at":"2013-08-23T15:42:34Z","description":null,"server_group":null,"rules":[{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1080","protocol":"tcp","icmp_type_name":null,"description":null,"created_at":"2013-08-23T15:42:34Z"},{"id":"fwr-12345","resource_type":"firewall_rule","url":"https://api.gb1.brightbox.com/1.0/firewall_rules/fwr-12345","source":null,"source_port":null,"destination":"0.0.0.0/0","destination_port":"1081","protocol":"tcp","icmp_type_name":null,"description":null,"created_at":"2013-08-23T15:42:34Z"}]}'
  recorded_at: Fri, 23 Aug 2013 15:42:36 GMT
recorded_with: VCR 2.5.0
