---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"aeed54b3487019931b04010b0b39715eb4e729e8"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"9cfcb3cc56f1f0363be4f49c65547646"'
    body:
      encoding: UTF-8
      string: '{"access_token":"0d09cf23393aeb039b7abe6fd15339108095e927","expires_in":7200,"refresh_token":"53779449e94964eefb10daaa4807fd5f007b5211"}'
  recorded_at: Wed, 28 Aug 2013 11:09:37 GMT
recorded_with: VCR 2.5.0
