Source: bbcloud
Section: ruby
Priority: extra
Maintainer: John Leach <john@brightbox.co.uk>
Build-Depends: cdbs, debhelper (>= 5.0.0), ruby-pkg-tools (>= 0.14), ruby1.8-dev, pkg-config, ruby1.8, graphviz, quilt, bash-completion
Standards-Version: 3.9.1

Package: bbcloud
Architecture: all
Depends: libbbcloud-ruby (= ${binary:Version})
Description: CLI for the Brightbox cloud computing platform
 bbcloud provides tools for interacting with the Brightbox cloud platform

Package: libbbcloud-ruby
Architecture: all
Depends: libbbcloud-ruby1.8(= ${binary:Version}), ${misc:Depends}
Description: CLI for the Brightbox cloud computing platform
 bbcloud provides tools for interacting with the Brightbox cloud platform
 .
 This package is a dependency package, which depends on the package
 containing the actual bbcloud package for the default Ruby version
 (currently 1.8).

Package: libbbcloud-ruby1.8
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8,
 libnet-ssh2-ruby, libnokogiri-ruby, libjson-ruby, libmime-types-ruby,
 libhmac-ruby, libbuilder-ruby, libopenssl-ruby1.8
Description: CLI for the Brightbox cloud computing platform
 bbcloud1.8 provides tools for interacting with the Brightbox cloud platform
 .
 This package contains the CLI for the Brightbox cloud computing platform for 
 Ruby 1.8.
