---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"b647e93397e6b934ac56987d9e8985e9"'
    body:
      encoding: UTF-8
      string: '{"access_token":"a57331b172474165888d7d76a8579720971a4c89","expires_in":7200,"refresh_token":"eb6424e92b053256ea0a9ec477df34d86353b41a"}'
  recorded_at: Tue, 27 Aug 2013 16:28:04 GMT
recorded_with: VCR 2.5.0
