---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"6dea5e281be994ba02b1773750240840"'
    body:
      encoding: UTF-8
      string: '{"access_token":"4b866d4dea7b6324de9b1a42c139f27cfa1c0572","expires_in":7200,"refresh_token":"ee27be4b51e95db3943462e4052ec9235148c077"}'
  recorded_at: Mon, 02 Sep 2013 14:28:16 GMT
recorded_with: VCR 2.5.0
