---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"a16c9b8526ee6e4669e82b455a69e8a7"'
    body:
      encoding: UTF-8
      string: '{"access_token":"a5dcbaa16f20832bc6df0b709efacc624cd7e58b","token_type":"Bearer","refresh_token":"6577ac9f6c4c1176fd82b0eaf1dacc207b37f496","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Mon, 12 Oct 2015 14:53:53 GMT
recorded_with: VCR 2.5.0
