---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"cfd6ec3349977a04bb9c8336f4322a5b"'
    body:
      encoding: UTF-8
      string: '{"access_token":"a555fa363cb14838b2efc870494ec6aa2360808b","token_type":"Bearer","refresh_token":"1a27aae58a7f3f185cb8fa75a0a150a3504a8606","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Mon, 12 Oct 2015 14:53:53 GMT
recorded_with: VCR 2.5.0
