---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"2967bf86ef2ec53c6509ad399bd05449"'
    body:
      encoding: UTF-8
      string: '{"access_token":"fb2b511bc41324b7661ff36a7147218f9c8fdd7d","token_type":"Bearer","refresh_token":"d6e06d34b77c525ebbd4d5ac10156c71461be803","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Mon, 12 Oct 2015 11:34:18 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer fb2b511bc41324b7661ff36a7147218f9c8fdd7d
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      X-Oauth-Scopes:
      - infrastructure, orbit
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c9a269456e92ca15ff834e08ba6414ad"'
    body:
      encoding: UTF-8
      string: '[{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"CLI
        test account","status":"active","ram_limit":3200000,"ram_used":0,"dbs_ram_limit":32768,"dbs_ram_used":0,"cloud_ips_limit":32,"cloud_ips_used":0,"load_balancers_limit":5,"load_balancers_used":0,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":"CLI
        test API client","description":"","revoked_at":null,"permissions_group":"full"}],"images":[],"servers":[],"load_balancers":[],"database_servers":[],"database_snapshots":[],"cloud_ips":[],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2015-10-12T09:23:03Z","default":true}],"firewall_policies":[{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":true,"name":"default","created_at":"2015-10-12T09:23:03Z","description":"Applied
        to the default server group."}],"owner":{"id":"usr-12345","resource_type":"user","url":"https://api.gb1.brightbox.com/1.0/users/usr-12345","name":"Jason
        Null","email_address":"jason.null@brightbox.com"},"users":[],"zones":[{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"}]}]'
  recorded_at: Mon, 12 Oct 2015 11:34:19 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"d6e06d34b77c525ebbd4d5ac10156c71461be803"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"0a2e9b7ac7a502a7efb7cc832559f3a9"'
    body:
      encoding: UTF-8
      string: '{"access_token":"ff8ee8c3ec7e5d2b56bd8a0b278fe7fe2957c760","token_type":"Bearer","refresh_token":"054b814f6c87c6867389468e71563822beb102ed","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Mon, 12 Oct 2015 11:34:19 GMT
recorded_with: VCR 2.5.0
