---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/accounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth e75c77ba85740b2d572e15bbe75595ffc7f5814a
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"The OAuth token can not
        be found"}'
  recorded_at: Wed, 28 Aug 2013 14:50:08 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"client_credentials"}'
    headers:
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"The client identifier
        provided is invalid, the client failed to authenticate, the client did not
        include its credentials, provided multiple client credentials, or used unsupported
        credentials type."}'
  recorded_at: Wed, 28 Aug 2013 14:50:08 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"a05c73351bbbc8d3abba9cf175733aec22a5cb71"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"3cd6434c4948eb2d268a83170ff990df"'
    body:
      encoding: UTF-8
      string: '{"access_token":"d003e4f0970b948af8e35d3ed9f3531cdd6e2154","expires_in":7200,"refresh_token":"dcd32790159f852756dadf8bed12cc3369c7b448"}'
  recorded_at: Wed, 28 Aug 2013 14:50:09 GMT
[...]
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":""}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      WWW-Authenticate:
      - Basic realm="api.gb1.brightbox.com"
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client"}'
  recorded_at: Wed, 18 Sep 2013 15:19:35 GMT
recorded_with: VCR 2.5.0
