---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"client_id":"cli-12345","grant_type":"none"}'
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      ETag:
      - '"e4ec9fe1134bace1f1c195449944a3f0"'
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":7200}'
  recorded_at: Tue, 16 Jul 2013 10:17:05 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"e8e90b04e8f784518cdbd4bb8f48b7d4"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Adlxfrxwdxvgsuiae","status":"active","address_1":"Runolfsson
        Course","address_2":"","city":"Lubowitzton","county":"","postcode":"39940-6114","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+443049386317","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-08-23T11:35:50Z","ram_limit":32768,"ram_used":22528,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-23T15:10:05Z","started_at":"2013-08-23T15:10:26Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-08-23T15:10:08Z","started_at":"2013-08-23T15:10:28Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com"[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/server_types?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"fe84a633d14849488005a04b8e65ad4a"'
    body:
      encoding: UTF-8
      string: '[{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"eunm1","status":"available","cores":2,"ram":1024,"disk_size":3072,"handle":"nano"},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"rsu2cz2","status":"available","cores":2,"ram":3072,"disk_size":1024,"handle":null},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"j6x2sz6q","status":"available","cores":2,"ram":4096,"disk_size":2048,"handle":null},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"cz6z0t85r","status":"available","cores":2,"ram":3072,"disk_size":8192,"handle":null},{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"88haww","status":"available","cores":2,"ram":4096,"disk_size":7168,"handle":null}]'
  recorded_at: Fri, 23 Aug 2013 15:37:37 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/1.0/servers?account_id=acc-12345
    body:
      encoding: UTF-8
      string: '{"image":"img-12345","name":"wow","server_type":"typ-12345"}'
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Location:
      - http://api.brightbox.dev/1.0/servers/srv-xbmsa
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"creating","hostname":"srv-12345","created_at":"2013-08-23T15:37:50Z","started_at":null,"deleted_at":null,"user_data":null,"fqdn":"srv-12345.gb1.brightbox.com","compatibility_mode":false,"console_url":null,"console_token":null,"console_token_expires":null,"account":{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Adlxfrxwdxvgsuiae","status":"active"},"image":{"id":"img-12345","resource_type":"image","url":"https://api.gb1.brightbox.com/1.0/images/img-12345","name":"vmr8w0oys5lojfdw0rx1j8gm","username":null,"status":"available","description":"","source":"xmwlxalmsbzd7af8m8d3u32h","arch":"x86_64","created_at":"2013-08-23T11:35:40Z","official":true,"public":true,"owner":"acc-12345"},"server_type":{"id":"typ-12345","resource_type":"server_type","url":"https://api.gb1.brightbox.com/1.0/server_types/typ-12345","name":"eunm1","status":"available","cores":2,"ram":1024,"disk_size":3072,"handle":"nano"},"zone":{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},"cloud_ips":[],"interfaces":[{"id":"int-v1glb","resource_type":"interface","url":"https://api.gb1.brightbox.com/1.0/interfaces/int-v1glb","mac_address":"02:24:19:12:64:be","ipv4_address":"10.18.100.190","ipv6_address":"2a02:1348:173:992f:24:19ff:fe12:64be"}],"snapshots":[],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-08-23T11:35:50Z","default":true}]}'
  recorded_at: Fri, 23 Aug 2013 15:37:53 GMT
recorded_with: VCR 2.5.0
