---
http_interactions:
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth a32769d11d8fbac160d557e760fd8cc618d56156
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: 
    headers:
      WWW-Authenticate:
      - OAuth error="invalid_token"
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"invalid_token","error_description":"The OAuth token can not
        be found"}'
  recorded_at: Mon, 16 Sep 2013 15:19:11 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Authorization:
      - Basic Y2xpLTEyMzQ1OnF5Nnh4bnZ5NG8wdGd2NQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"df70df8a7574b38c7dc7a8255490fb67"'
    body:
      encoding: UTF-8
      string: '{"access_token":"65d5bd15681459caf48cf57d7ccdd57ec3be51c1","expires_in":7200}'
  recorded_at: Mon, 16 Sep 2013 15:19:11 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 65d5bd15681459caf48cf57d7ccdd57ec3be51c1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"99865feb8252fb5bb16d21790a01a082"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Ayjdiqivlllfpfeyx","status":"active","address_1":"Jack
        Valley","address_2":"","city":"Deanland","county":"","postcode":"66508","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+440731072555","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-09-16T10:07:07Z","ram_limit":32768,"ram_used":0,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[],"load_balancers":[],"cloud_ips":[{"id":"cip-12345","resource_type":"cloud_ip","url":"https://api.gb1.brightbox.com/1.0/cloud_ips/cip-12345","status":"unmapped","public_ip":"144.9.241.187","reverse_dns":"cip-12345-9-241-187.gb1.brightbox.com","name":null}],"server_groups":[{"id":"grp-12345","resource_type":"server_group","url":"https://api.gb1.brightbox.com/1.0/server_groups/grp-12345","name":"default","description":"All
        new servers are added to this group unless specified otherwise.","created_at":"2013-09-16T10:07:07Z","default":true}],"firewall_policies":[{"id":"fwp-12345","resource_type":"firewall_policy","url":"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345","default":true,"name":"default","created_at":"2013-09-16T10:07:07Z","description":"Applied
        to the default server group."}],"owner":{"id":"usr-12345","resource_type":"user","url":"https://api.gb1.brightbox.com/1.0/users/usr-12345","name":"Floyd
        Jacobs II","email_address":"jason.null@brightbox.com"},"users":[],"zones":[{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-a"},{"id":"zon-12345","resource_type":"zone","url":"https://api.gb1.brightbox.com/1.0/zones/zon-12345","handle":"gb1-b"}]}'
  recorded_at: Mon, 16 Sep 2013 15:19:11 GMT
recorded_with: VCR 2.5.0
