---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"none","client_id":"cli-12345"}'
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"fa77b7bb33b9af37c4fa18c19cb92605"'
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":7200}'
  recorded_at: Wed, 31 Jul 2013 11:24:08 GMT
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth <TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"edae08bd7c061364ec419588e32ad695"'
    body:
      encoding: UTF-8
      string: '{"id":"acc-12345","resource_type":"account","url":"https://api.gb1.brightbox.com/1.0/accounts/acc-12345","name":"Abylprmumdmlqnybh","status":"active","address_1":"Hickle
        Expressway","address_2":"","city":"Kertzmannborough","county":"","postcode":"87677","country_code":"GB","country_name":"United
        Kingdom","vat_registration_number":"","telephone_number":"+445711154844","telephone_verified":false,"verified_telephone":null,"verified_at":null,"verified_ip":null,"created_at":"2013-07-31T10:04:42Z","ram_limit":32768,"ram_used":30720,"cloud_ips_limit":20,"cloud_ips_used":1,"load_balancers_limit":5,"load_balancers_used":0,"valid_credit_card":false,"library_ftp_host":"ftp.library.gb1.brightbox.com","library_ftp_user":"acc-12345","library_ftp_password":null,"clients":[{"id":"cli-12345","resource_type":"api_client","url":"https://api.gb1.brightbox.com/1.0/api_clients/cli-12345","name":null,"description":null,"revoked_at":null}],"images":[],"servers":[{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"wow","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-07-31T10:16:29Z","started_at":"2013-07-31T10:16:31Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"medium
        servers","status":"active","hostname":"srv-12345","fqdn":"srv-12345.gb1.brightbox.com","created_at":"2013-07-31T10:16:30Z","started_at":"2013-07-31T10:16:32Z","deleted_at":null},{"id":"srv-12345","resource_type":"server","url":"https://api.gb1.brightbox.com/1.0/servers/srv-12345","name":"rspec_server_shutdown","status":"active","hostname":"srv-12345","fqdn":"srv-123[...]
- request:
    method: get
    uri: http://api.brightbox.dev/1.0/account?account_id=acc-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 73dd93478d5bf98c1803b43bd3aeb8640cc90639
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4ad1c0f8152765353b7183ef2e8624d2"'
    body:
      encoding: UTF-8
  [...]
