---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTIzNDU2OmhvMDRob25kdHpqamRmNA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"1dbe6769e31cd2c7b0983d5d152b3a88"'
    body:
      encoding: UTF-8
      string: '{"access_token":"aa418baea89052f46b3a64e6f70808ee74ef3edb","token_type":"Bearer","refresh_token":"7576198c29eb4bef281c9c37d367dc93682c98d0","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Mon, 12 Oct 2015 11:34:20 GMT
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"refresh_token","refresh_token":"7576198c29eb4bef281c9c37d367dc93682c98d0"}'
    headers:
      Authorization:
      - Basic YXBwLTIzNDU2OmhvMDRob25kdHpqamRmNA==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      X-Oauth-Scopes:
      - infrastructure, orbit
      Etag:
      - '"20b602f213eb4a58926abe79390ef4a1"'
    body:
      encoding: UTF-8
      string: '{"access_token":"c050b5cf9e9dceb65892a7d492518cfb0ff0e912","token_type":"Bearer","refresh_token":"7b88a20eb4a1e5efb66daa809202ccca4a6b0dc1","scope":"infrastructure,
        orbit","expires_in":7200}'
  recorded_at: Mon, 12 Oct 2015 11:34:20 GMT
recorded_with: VCR 2.5.0
