--- 
recorded_with: VCR 2.5.0
http_interactions: 
- request: 
    method: post
    uri: https://api.dev.brightbox.com/1.0/firewall_policies?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 201
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Location: 
      - https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-vs26s
      Status: 
      - 201 Created
      ETag: 
      - "\"ae231cccda6eb77f68e3a8a528523c07\""
    body: 
      string: "{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":false,\"name\":null,\"created_at\":\"2013-07-31T11:27:53Z\",\"description\":null,\"server_group\":null,\"rules\":[]}"
  recorded_at: Wed, 31 Jul 2013 11:27:54 GMT
- request: 
    method: delete
    uri: https://api.dev.brightbox.com/1.0/firewall_policies/fwp-12345?account_id=acc-12345
    body: 
      string: ""
    headers: 
      Content-Type: 
      - application/json
      Authorization: 
      - OAuth <TOKEN>
  response: 
    status: 
      code: 202
      message: 
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - 202 Accepted
    body: 
      string: "{\"id\":\"fwp-12345\",\"resource_type\":\"firewall_policy\",\"url\":\"https://api.gb1.brightbox.com/1.0/firewall_policies/fwp-12345\",\"default\":false,\"name\":null,\"created_at\":\"2013-07-31T11:27:53Z\",\"description\":null,\"server_group\":null,\"rules\":[]}"
  recorded_at: Wed, 31 Jul 2013 11:27:54 GMT
