---
http_interactions:
- request:
    method: post
    uri: https://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client","error_description":"The client identifier
        provided is invalid, the client failed to authenticate, the client did not
        include its credentials, provided multiple client credentials, or used unsupported
        credentials type."}'
  recorded_at: Mon, 02 Sep 2013 14:18:09 GMT
recorded_with: VCR 2.5.0
