---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"9e12de77439c8f93b1fcf34c51e423f3"'
    body:
      encoding: UTF-8
      string: '{"access_token":"167e5c81122fe3ad710a4ed6b8c9734f3660ea27","expires_in":7200,"refresh_token":"28f747500d003167c5e483d15421f4dd20fb8755"}'
  recorded_at: Wed, 28 Aug 2013 11:32:11 GMT
recorded_with: VCR 2.5.0
