---
http_interactions:
- request:
    method: post
    uri: http://api.brightbox.dev/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","client_id":"app-12345","username":"jason.null@brightbox.com","password":"N:B3e%7Cmh"}'
    headers:
      Authorization:
      - Basic YXBwLTEyMzQ1Om1vY2J1aXBiaWFhNms2Yw==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"0cd69d57b102a9e589fc9c75c3457346"'
    body:
      encoding: UTF-8
      string: '{"access_token":"583a5ac0e134e063971cc33ac563c0c611de905f","expires_in":7200,"refresh_token":"5dfb4663b7b2dbc4cfd506a276407a18c8208aa7"}'
  recorded_at: Tue, 27 Aug 2013 16:51:30 GMT
recorded_with: VCR 2.5.0
